[2021-07-04 11:27] dotesfera opened #2 "Docker Hub"
Will this be on Docker Hub?

[2021-07-04 13:39] emrysal commented on #2
Yes, currently looking into that; Given all goes well curating the image and a completed Docker Hub on-boarding the image will be added to the platform.

[2021-07-05 15:14] jk opened #3 "ARM issue calling prima generate"
I tried the instructions on my M1 mac and it failed while building the image (M1 macs can run pre-build x86 images if there would have exist one) while invoke `prisma generate`. It failed with the following error message:

[code]

[2021-07-05 20:13] emrysal commented on #3
You're not the first one to encounter this; https://stackoverflow.com/questions/66530969/docker-compose-up-issue-using-docker-apple-m1 - may be helpful

[2021-07-08 12:06] LeducH opened #4 "Unable to login"
I want to test the app inside the docker container

I followed the steps from the README

I used https://bcrypt-generator.com/ to encrypt my password.

but I get

[2021-07-09 15:08] emrysal commented on #4
Depending on the way you enter the password, always triple check the database entry for your b crypt hash. Maybe take the DB value and compare it with a string in bcrypt-generator, and eliminate the chance for typos.

[2021-07-12 02:39] genebean commented on #3
For now, if you replace `FROM node:14-alpine` with `FROM amd64/node:14-alpine` it’ll force Docker to pull the x86 container instead. This will almost certainly fix it.

[2021-07-13 12:30] s-gbz opened #5 "Can't login/ configuration problem - "TypeError: Only absolute URLs are supported""
Hey guys,
thanks for your effort in brining calendso to Docker! :heart:
I'm currently writing a blog post/ documentation material how to setup calendso front to finish on a server :memo:

However, I'm stuck at the login screen without further error messages and am slowly exhausting my knowledge.
Please feel free to move the issue into calendso's main repository if you see fit.

Let me know if I ca

[2021-07-19 18:08] emrysal commented on #5
Hey @s-gbz , your `.env` looks fine to me.  - I'm curious where codeklasse.de comes from, could you check what the contents of the process.env.BASE_URL/NEXTAUTH_URL is in next.config.js ? I'm suspecting a environment variable conflict.

[2021-07-19 19:14] s-gbz commented on #5
Hey @emrysal thanks for taking interesting in this confusing setup!
I haven't modified `next.config.js` so it's basically [this one](https://github.com/calendso/calendso/blob/749978798baacee786ff17b6ebade02e8c4e6b01/next.config.js).
Here's the upper portion its content:

[code]

Do you think the error might be caused by a faulty docker-compose network bridge or nginx setup?
They're both pretty sim

[2021-07-19 21:51] emrysal commented on #5
I don't think it is the nginx setup of the network bridge, but what happens if you do `console.log(process.env);` in your next.config.js?

[2021-07-20 07:06] jurgenhaas commented on #5
I've now checked the file `/app/prisma/schema.prisma` which contains

[code]

When I replace `env("DATABASE_URL")` with the real database URL like

[code]

and then restart the calendso container again, it works just great and has no errors in the logs anymore.

Appears that the env can not be resolved.

When I look at the env virables in the container, this looks strange:

[code]

So the variable

[2021-07-20 07:21] jurgenhaas commented on #5
OK, here is the solution: remove the double quotes around the database url in the `.env` file and then run `docker-compose up --build` which will fix it.

Unfortunately I still can't get to http://localhost:5555 to set my first user account. Any idea?

[2021-07-20 07:30] jurgenhaas commented on #4
Had the same problem. Reason was that when clicking on the "Copy" button on https://bcrypt-generator.com/ and paste that value into the database field, you end up with a trailing space. Remove that space and you're goog to go.

[2021-07-20 07:39] jurgenhaas opened #6 "How can I add integrations"
I'm a bit confused about the pricing model of Calendso. It says that the free (self-hosted) version does NOT come with the option "Ready-to-connect integrations". That gets me to assume that we have to install integrations ourselves. That's fine, I just wonder where I could find any. Or am I not supposed to have calenders integrated at all?

[2021-07-20 07:48] PeerRich commented on #6
hey there. Correct, there is a technical limitation of every open source project that you need to create API keys of each integration that you're looking to use.

[2021-07-20 07:55] jurgenhaas commented on #6
OK, does this relate to the `.env` file with API keys for Google calendar and Outlook? Is there a way to integrate calendars that are not from those 2 problematic providers in terms of privacy? I mean WebCAL for example? If not, is there a way to start working on this as part of the open source project?

[2021-07-20 07:59] PeerRich commented on #6
yes it relates to any integration (gcal, zoom, outlook, ...)

CalDav is launching this week afaik

But we'd love to have your contribution too!

[2021-07-20 08:04] jurgenhaas commented on #6
Great, I'll have a look what's coming and will provide feedback, etc.

[2021-07-20 08:13] s-gbz commented on #5
Hey @jurgenhaas thanks for your reply!
Can you share a bit more about your setup & your steps to get the application running?
As mentioned, I am writing a tutorial and would love to involve your contribution.
Feel free to hit me with an informal mail in german if that would be any easier on your time :-)

# Fixing DATABASE_URL
You've provided a very helpful point regarding `env("DATABASE_URL")` si

[2021-07-20 08:23] s-gbz commented on #5
UPDATE:

Removing all single & double quotes takes the issue a step further!
The insides of . `env`:

[code]

There's an incorrect password error, but this is surely caused by a trailing white space. I will double check now.
![image](https://user-images.githubusercontent.com/23424538/126286889-ca6f3efc-54c1-4dcd-968a-e7b569a8e71e.png)

[2021-07-20 08:24] jurgenhaas commented on #5
Hi @s-gbz yes, I can confirm that changing the schema.prism file is no longer necessary when fixing the quote issue in the .env file and then building the docker images again.

As for your tutorial, I've followed exactly the steps in the readme of the project. The required action in step 2 is to remove ALL the quotes from ALL the variables.

Everything else is just as described in the readme.

[2021-07-20 08:25] jurgenhaas commented on #5
As for the login error, there is another issue, see #4 and yes, it is about the trailing whitespace

[2021-07-20 08:38] s-gbz commented on #5
Finally! Thanks guys :tada: :tada: :tada:
![image](https://user-images.githubusercontent.com/23424538/126288889-880e34dd-5ea7-4367-a2e7-8dce40764b3f.png)

Perhaps we should
a.) provide a PR to remove all quotes from `.env` and expand the README
b.) provide a PR to automatically trim whitespaces in the calendso app

I'd like to get down to a.) this evening provided that it's not just a linux thing.

[2021-07-20 08:38] #5 closed

[2021-07-21 12:53] emrysal commented on #4
@jurgenhaas I knew it was going to be something like that.. that's good to know! @LeducH see above replies - closing this.

[2021-07-21 12:53] #4 closed

[2021-07-22 15:09] icolab opened #7 "Docker OCI runtime exec failed"
Hello,
I'm trying to install on my archlinux server Calendso with docker. The build was succesful however when I launched the second command line, I got the following error:

`docker-compose exec calendso -- npx prisma studio
OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "--": executable file not found in $PATH: unknown`

Have you ever seen

[2021-07-22 15:45] bagheera2382 commented on #7
Hello,
Same problem for me. Solved by removing `--`
So :
`docker-compose exec calendso  npx prisma studio`

[2021-07-22 15:48] icolab commented on #7
Thanks for the solution, it works for me!

[2021-07-22 15:48] #7 closed

[2021-08-12 21:57] ipozow opened #8 "Site reloads constantly after choosing a date"
So after a successful Calendso installation with Docker, everything is working good but the site is refreshing every time and asks to send a message. I don't know if I am doing something wrong or if it's a bug. I recorded a video that shows everything:

https://user-images.githubusercontent.com/10505413/129274627-b0faabdc-4123-4adb-9fc4-f88a700b9c0e.mov

In the second ≈ 49 it loads the available h

[2021-08-12 22:13] emrysal commented on #8
Hey @ipozow - I (very) recently put in some changes to the Dockerfile to tackle this issue; could you check if the issue persist with the latest changes?

[2021-08-13 00:48] ipozow commented on #8
I am having a really hard time with the `docker-compose exec calendso -- npx prisma studio` command. Tried with `docker-compose exec calendso npx prisma studio` but isn't working now. Calendso is working but I can't launch prisma to create a user, and I lost that data because I ended up reinstalling the server
I am sorry for the late reply

[2021-08-13 01:52] ipozow commented on #8
It's working good now, thanks a lot.
If anyone as the prisma problem I just rebooted and it worked

[2021-08-13 01:52] #8 closed

[2021-08-13 08:36] emrysal commented on #3
@jk Were you able to fix your issue with the above feedback?

[2021-08-21 13:30] #3 closed

[2021-08-25 15:09] shibacomputer opened #11 "Database url not read from .env file."
Following the steps to the letter in this, it appears that the postgres url supplied in the `.env` file is not passed to the build process.

This results in errors both in the `docker-compose logs` output, and also error messages visible via Prisma studio.
[code]
![image](https://user-images.githubusercontent.com/737950/130816104-55a2836e-182b-458f-80bf-e83f07e2271e.png)

For what it's worth, manu

[2021-08-29 17:12] deeztek opened #12 "docker-compose up --build fails"
Trying to build the image with:

`docker-compose up --build`

and I get the following error:

[code]

[2021-08-29 17:25] emrysal commented on #12
Did you clone this repo with the `--recursive` flag ensure the installation of the submodule?

`git clone git@github.com:calendso/calendso-docker.git --recursive`

[2021-08-29 20:14] deeztek commented on #12
Well that particular command causes another error:

[code]

[2021-08-29 20:28] deeztek commented on #12
This command actually worked:

`git clone https://github.com/calendso/docker.git --recursive`

[2021-08-29 20:43] deeztek commented on #12
New error trying to create a user in prisma:

Message: Error in Prisma Client request:

error: Error validating datasource `db`: the URL must start with the protocol `postgresql://` or `postgres://`.
  -->  schema.prisma:6
   |
 5 |   provider = "postgresql"
 6 |   url      = env("DATABASE_URL")
   |

Validation Error Count: 1

Query:
prisma.user.findMany({
  take: 100,
  skip: 0,
  select: {

[2021-08-29 23:56] emrysal commented on #12
Strange, same thing reported here: https://github.com/calendso/docker/issues/11

I don't have the time to have a look at it myself as I'm completing the team events feature- after I've completed that I'll take an look what's going on, but it definitely used to work.

[2021-09-01 11:49] deeztek commented on #12
I'm able to get it working by creating a copy of prisma.schema with the following hardcoded info:

[code]

and adding as a volume to the calendso container as follows:

[code]

seems to work as suggested at #11

This is of course not ideal. Is the prisma integration only for the purposes of creating the first account? If so, wouldn't be simpler to create a default user/password and after logging i

[2021-09-01 11:56] deeztek opened #13 "CalDav integration with Nextcloud"
trying to connect calendso with Nextcloud Caldav but I'm getting the following error:

[code]
Originally I thought maybe the container lacking a timezone was the culprit so I set up the following in the docker-compose.yaml with no luck:

[code]

Tried connecting to both the private and public URL of the calendar but no joy.

thanks

[2021-09-02 18:58] #12 closed

[2021-09-09 20:45] trainingcity opened #15 "Create an account link goes back to paid site"
The first thing one sees on managing to get the containers running is "create an account" link from ~:3000/auth/login that goes to the paid site. (https://checkout.calendso.com/). Leaves the impression that this is not really a committed open source project.

[2021-09-10 00:22] emrysal commented on #15
Hi @trainingcity

The code in question contains instructions of what to do - this is just the default. However, I agree that we may want to hide this by default altogether.

[code]

[2021-09-12 12:47] Robert-Ernst commented on #2
So when will this happen?

[2021-09-12 13:49] PeerRich commented on #2
https://hub.docker.com/r/calendso/calendso

[2021-09-12 13:49] #2 closed

[2021-09-12 13:49] PeerRich commented on #6
CalDav has been out for a few weeks now

[2021-09-12 13:49] #6 closed

[2021-09-13 06:44] jurgenhaas commented on #6
Thanks, but it's not available for self-hosted solutions - which is the whole purpose of this Docker repo, I guess.

[2021-09-13 11:29] dotesfera commented on #2
This should have a tag on docker hub. Can even find the image using Portainer.

[2021-09-13 12:49] PeerRich commented on #2
i am not quite sure if i understand the problem. this docker repo is community maintained and an official image is on docker hub. am i missing something?

would love to help!

[2021-09-13 14:20] dotesfera commented on #2
I have Synology Docker service and trying to download the image gives me this error:
![image](https://user-images.githubusercontent.com/30806279/133100580-dd134b6b-da43-4c12-b4ad-a4411c065594.png)

[2021-09-14 14:20] dotesfera commented on #2
Do you understood what I meant? There should be a tag:latest maybe

[2021-09-16 09:40] revmischa opened #16 "Prisma db migrate?"
`start.sh` runs `prisma db push` which isn't really intended for production use - https://www.prisma.io/docs/concepts/components/prisma-migrate/db-push

I think it should be `prisma db migrate deploy`? - https://www.prisma.io/docs/concepts/components/prisma-migrate#production-and-testing-environments

[2021-09-16 17:54] shreyash-sharma opened #17 "docker-compose exec calendso npx prisma studio| Not working"
[root@shreyash-community calendso-docker]# docker-compose exec calendso npx prisma studio
[root@shreyash-community calendso-docker]#

Unable to access 5555 port after running the command

[2021-09-22 10:52] dotesfera opened #18 "Can't pull image from docker hub"
Doing docker pull calendso/calendso gives this error:

![image](https://user-images.githubusercontent.com/30806279/134331018-d9d1a0bb-f7cd-44f3-a548-64688cb253b9.png)

[2021-09-22 16:35] dotesfera commented on #18
I think this is caused because there's no tag information on docker hub

[2021-09-27 10:46] dotesfera commented on #18
Please add a tag info on docker hub...

[2021-09-28 17:32] krumware commented on #2
@PeerRich, to echo @dotesfera, this image is not possible to pull from dockerhub currently. It needs to be re-pushed, or perhaps re-tagged with latest and pushed, `docker build . -t calendso/calendso:latest`

[code]

[code]

[2021-09-28 22:55] PeerRich commented on #2
we'll take care of it!

[2021-09-28 23:11] krumware commented on #11
The single/double quotes must be removed from the .env file in order for this to work properly. Docker doesn't respect them in the env files. This also affects the GOOGLE_API_CREDENTIALS, the json object must not be wrapped in quotes or else the variable is interpreted as `'{}'`

With single quotes:
[code]

Tested on Docker Desktop 4.1 in WSL
https://dev.to/tvanantwerp/don-t-quote-environment-vari

[2021-09-28 23:21] krumware opened #19 "Database host hardcoded in start.sh"
The database host is hardcoded to `db:5432` instead of leveraging the environmental variables defined in .env. This prevents the service from properly starting in environments where the service address of the database may not be `db`.

It is possible to modify to `/app/scripts/wait-for-it.sh ${DATABASE_HOST} -- echo "db is up"` , after which the default .env can be updated to
[code]

(will submit

[2021-09-30 03:09] kelvinalfaro commented on #11
I removed the single and double quotes didn't help.
Any other way to resolved this?

[2021-09-30 06:21] nmiculinic opened #20 "Auto-build docker images as part of the CI"
The docker images should be built as part of the (release) CI pipeline and pushed to registry; (you can use GitHub registry fwiw)

## Describe the solution you'd like

Use of many pre-packages Github actions for building docker images & pushing them to registry
It's relatively easy to do, some googling and some copy-paste

[2021-09-30 08:28] PeerRich commented on #20
@emrysal 🙏

[2021-09-30 17:24] agapejon commented on #11
same issue, removed the quotes but still getting the same error

[2021-09-30 18:34] krumware commented on #11
@kelvinalfaro @agapejon does anything change if you use `yarn dev` instead of `yarn start`?

also, I did some significant rework of the dockerfile, since I had other issues with the use of yarn build that I haven't pushed through yet. `yarn build` is likely generating static files at docker build time, which wont include the .env variables used by docker-compose. `yarn dev` should support runtime

[2021-09-30 18:38] krumware commented on #20
quick note:
based on some of the other issues, some additions may need to be made to the dockerfile to allow ENV variables to be passed in at docker build time so that `yarn build` is able to read those buildtime variables.
ref comments in: #11

[2021-09-30 18:40] krumware commented on #18
progress in #2

[2021-09-30 21:42] nmiculinic commented on #20
ok, but why?

I mean docker container shouldn't be that opinionated (my idea is deploying it to k8s via helm chart for something). You can always pass in envfile via:

[code]

[2021-09-30 21:44] nmiculinic commented on #20
This is classic FE + backend server + PostgreSQL app;

those configurations should not be hard-coded in the image but passed in during the run time. Otherwise, you're making the operational aspect hard if I have to rebuild the image for a new environment, thus defeating the purpose of the image.

[2021-09-30 22:56] krumware commented on #20
I agree with you. Currently it does not appear the env vars are working properly at runtime via docker. Also, many frontends bake variables into the container at build time when compiling static content (unfortunately) and I'm hoping that isn't happening here, but it appears to be.

My preference would be that all the variables work at runtime. In the case where the production build bakes static c

[2021-10-01 11:43] #18 closed

[2021-10-02 23:25] kelvinalfaro commented on #11
Thanks. This worked well. Though I gave up on it for now. Once it deployed, i was unable to set up the database. Maybe will try again soon. Your response was really appreciated however.

[2021-10-03 00:35] krumware commented on #11
That may be a combination with my other issue posted. I'll get a WIP branch up to try early this week

[2021-10-05 18:49] vanceism7 commented on #11
@krumware Trying the new Dockerfile got me further in the process, but I get this error when running
`sudo docker-compose up --build`

error:

Adding `yarn build` into the `start.sh` script got the app to run successfully, but not sure if that's really the proper thing to do here

[2021-10-05 18:52] krumware commented on #11
Ah, must have left that in there while trying things. I've been working on this locally today, I'll see if I can clean it up

[2021-10-05 18:53] krumware commented on #11
Can you also by chance try `yarn dev` instead of yarn build in the start file?

[2021-10-05 19:08] vanceism7 commented on #11
Ah, yea, using the new dockerfile you provided + changing `yarn start` to `yarn dev` in `scripts/start.sh` got it working. Thanks!

[2021-10-05 20:17] vanceism7 commented on #11
Ah wait, nvm. If I replace `yarn start` with `yarn dev` - docker-compose successfully starts the app, but then the app doesn't actually work. The website spews the following error:

Naively searching for that error online, I found this
https://github.com/vercel/next.js/issues/26983

Keeping `yarn start` and adding `yarn build` the line before seems to avoid this error

[2021-10-05 21:14] vanceism7 commented on #11
Just tried it - its working!

[2021-10-05 22:31] drwb commented on #11
I've been following along and this evening went through these steps (Replaced Dockerfile, added NODE_ENV=development, changed `yarn start` to `yarn dev`) and we get to the following, and it then hangs:
<img width="1358" alt="Screenshot 2021-10-05 at 23 28 00" src="https://user-images.githubusercontent.com/16479230/136111525-d7032f76-7fab-4709-ab0b-099dfec50a6b.png">

although it seems hitting the

[2021-10-06 00:15] krumware commented on #20
notes here:
There was a conscious decision by the cal team to move away from client-side runtime variables: https://github.com/calendso/calendso/pull/651#pullrequestreview-755077204
But I haven't verified what variables are compiled into the client static files.

I couldn't find reference to use of serverruntimeconfig variables or getConfig() in calendso/calendso, after referencing the next.js doc

[2021-10-06 00:49] krumware commented on #11
I've been seeing that as well.  This won't be a final solution anyways, however, because we won't want to use yarn dev in production. I'll typically move `yarn dev` to `command` in the docker-compose file, and how how to mount a local volume for using docker-compose for development. Still working on a proper prod build and have notes on some of the other threads.

@vanceism7 I have that JWT_SECRET

[2021-10-06 06:21] emrysal commented on #20
Hi @krumware - I'll have a look at what is required to remove the db connection requirement at build time.

Re.

I assume what is intended here is during build time of the container itself, because in terms of during a nextJS production build I'd strongly argue for a position to prefer env variable configuration to be done as a static part of the build or keep it in the BE entirely. In this specif

[2021-10-06 06:58] krumware commented on #20
Thanks for the extra context! I understand their approach for the static build, especially in cases of precache and file hash consistency across load balanced file servers. (interested in calendlo's current status for load balanced support on the API side, tackle later). Another approach I have seen here in the k8s space is to use an initialization sidecar to re-perform the static build to a share

[2021-10-08 16:45] ffrpr opened #22 "Error: Could not find a production build in the '/app/.next' directory."
When I try to docker-compose up -d --build, the build is completed successfully but the calendso app container keeps restarting. Looking into docker logs, I get these errors:

[code]

[2021-10-08 20:58] krumware commented on #22
Also addressing this in my WIP dockerfile updates

[2021-10-09 17:03] dotesfera commented on #2
Hi, just passing by if there are any news?

[2021-10-13 12:02] ShawnCockburn opened #23 "calendso built docker image fails to launch"
I have spent the last couple of days trying to find what is causing this issue and have not found any solutions; I am at a loss.

- [x] calendso works standalone eg: yarn start.
- [x] postgress docker container works.
- [x] followed the readme instructions precisely and left every option as default.
- [ ] calendso docker container does not work... hmmm

##  the specific error i get is:
[code]

##

[2021-10-14 07:56] pat-s opened #24 "Who is maintaining this repo?"
As stated in the [README of Calendso](https://github.com/calendso/calendso#docker), the docker repo is a community project and not officially supported by the Calendso team.

However, it is unclear how one can contribute here and who is actively maintaining this repo.
Also getting write permissions needs an invite from the Calendso team again which might not be that easy. It would be great to have

[2021-10-14 10:31] PeerRich commented on #24
hey @pat-s, yeah i agree this has been very confusing. any recommendations? do you want to contribute to it? We can make a new team that has some writing authority over this repo

[2021-10-14 21:16] zephleggett commented on #23
To fix: `Error: Cannot find module './next-i18next.config' `
Add this to your Dockerfile `COPY --from=builder /app/next-i18next.config.js ./`

You will now have an error `Error: Cannot find module '@next/bundle-analyzer'`
You can fix that by moving` "@next/bundle-analyzer": "11.1.2"` from devDependencies->dependencies in `calendso/package.json`

[2021-10-15 07:17] ShawnCockburn commented on #23
This worked just like a charm!
Thank you @zephleggett !

[2021-10-15 07:17] #23 closed

[2021-10-17 20:50] d33tah opened #27 "UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_ARG_TYPE] [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined"
[code]

[2021-10-17 20:53] d33tah opened #39 "UnhandledPromiseRejectionWarning: TypeError [ERR_INVALID_ARG_TYPE] [ERR_INVALID_ARG_TYPE]: The first argument must be of type string or an instance of Buffer, ArrayBuffer, or Array or an Array-like Object. Received undefined"
### Issue Summary

Trying to run the app using the docker container from github.com/calendso/docker results in an error when trying to log in using the newly created account.

### Steps to Reproduce

1. Use github.com/calendso/docker
2. Create an account using the admin page
3. Try to log in using that account
4. Observe the following error:

[code]

Any other relevant information. For example, wh

[2021-10-18 09:46] cracker0dks opened #28 "Not starting: Module_not_found"
After `docker-compose up --build`
I get this on startup:
[code]
How can I resolve this?
Thanks for help

[2021-10-20 02:41] zenflow opened #29 "Suggestion: Move this code into calendso/calendso repo"
Why is the Dockerfile (and supporting scripts) and docker-compose.yml in a separate repository?
These files are usually found in the app's single repository, with the source code.
Is there a reason not to do that here?

- Having a single repository is a lot more convenient for updates: no need to (constantly or periodically) update the git submodule and integrate changes such as new environment va

[2021-10-20 12:50] #29 closed, assigned to nobody

[2021-10-20 15:12] #28 closed, assigned to nobody

[2021-10-21 11:09] dotesfera opened #30 "Docker hub Calendso not working"
Calendso on docker hub is dead or not working? I can't even pull it from docker hub...

[2021-10-21 16:35] PeerRich commented on #24
hey @pat-s we've given this topic a much higher priority inside of the team and will find a better solution for this! 🎉  until then, you can make PRs at any time and we'll merge them accordingly

[2021-10-23 13:31] #24 closed, assigned to nobody

[2021-10-27 17:11] krumware opened #36 "Update .env to .env.example"
For pattern, and to help prevent accidental commits of a .env file with secrets, the .env file needs to be renamed to .env.example (matching the pattern in calendso/calendso), and added to a .gitignore file.

[2021-10-28 22:31] kelvinalfaro opened #38 "Blank Back End Pages"
Does anyone know why this would be happening?
Back end Pages all appear blank and the console throws these error; front end pages work fine.
![image](https://user-images.githubusercontent.com/1563599/139345079-e4444052-6ccd-425f-abfe-ce82b3b8b14e.png)

_app-e02f03b0ea2916da730e.js:1 react-i18next:: You will need to pass in an i18next instance by using initReactI18next
h @ _app-e02f03b0ea2916da730e

[2021-10-29 19:34] #38 closed, assigned to nobody

[2021-10-29 21:38] emrysal commented on #30
Docker hub circumvents docker-compose I suppose, so maybe Portainer would no longer use that file at all?

[2021-10-30 11:27] dotesfera commented on #30
Where can I see Portainer logs on a failed stack deployment?

Is there any possibility to add this to docker hub? Because I could use my Synology docker to easily install this...

[2021-11-04 23:29] #11 closed

[2021-11-04 23:29] #36 closed

[2021-11-08 18:56] drwb opened #42 "ERROR: Service 'calendso' failed to build"
A `docker-compose up --build` command on a fresh pull produces:

info  - Skipping validation of types...
info  - Creating an optimized production build...
Error: Error loading shared library ld-linux-x86-64.so.2: No such file or directory (needed by /app/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node)
    at Object.Module._extensions..node (internal/modules/cjs/loader.js:1144:18)

[2021-11-08 21:47] TheBestMoshe commented on #42
As a temporary fix, I was able to get it to build by using one of the suggestions provided in the [help url](https://nextjs.org/docs/messages/failed-loading-swc). I created a `.babelrc` file and added the following content to it:
[code]

[2021-11-09 15:31] TheBestMoshe commented on #42
It seems like #41 fixes this.

[2021-11-09 21:49] drwb commented on #42
Yes, manually making that change removed this error.

[2021-11-09 21:49] #42 closed

[2021-11-10 05:25] juggernaut451 opened #43 "docker is not picking env file on runtime"
env varriable like smtp setting & zoom credentials are not setting up

[2021-11-10 16:34] dotesfera commented on #30
Any news on this?

[2021-11-10 19:08] krumware commented on #43
Currently, this is a limitation in the calendso main project side with next.js. those environmental variables are injected at build time but not at runtime (and is being addressed in other WIP branches).

If you choose to in the meantime, they can be used at runtime by modifying start.sh to use `yarn dev` instead of `yard start`, or by specifying `yarn dev` as the docker run command (but you'll lo

[2021-11-10 19:14] krumware commented on #43
to clarify, I want to keep this issue open so that it gets addressed in some fashion

[2021-11-15 07:08] asharabu opened #45 "Deployment error."
Hi,
I am trying to deploy calendso in our docker environment. But I am facing below error,

![image](https://user-images.githubusercontent.com/42669995/141731809-dd19c5d5-9deb-4532-a28f-f371122698cd.png)

[2021-11-15 07:40] ahuckphin commented on #45
possible solutions available here - https://github.com/calendso/docker/issues/42

[2021-11-16 15:55] wivaku commented on #45
Creating `.babelrc` as mentioned in #42 indeed removed the `ERR_DLOPEN_FAILED` error.
After ±10 minutes I now get:
[code]
So: no SWC error anymore, but now `Command failed with signal "SIGKILL".`

Using Heroku Postgressql connection as described in the main Calendso documentation (which works when checking in e.g. Tableplus).

BTW. not sure about the `EMAIL_FROM` warning. It is definitely in my `.

[2021-11-17 13:32] wivaku commented on #43
I have modified `start.sh` and replaced `yarn start` with `yarn dev`.
The log now shows:
[code]

[2021-11-17 17:35] PeerRich commented on #43
@bvallelunga any ideas?

[2021-11-17 23:27] krumware opened #46 "Unable to seed new database on startup"
In the current build there is no way to seed a database that is not publicly accessible but is accessible to the Calendso container.
There needs to be a database seed option in addition to the migrations, for new deployments.

[2021-11-17 23:44] krumware opened #47 "BASE_URL usage needs instructions"
BASE_URL gets embedded into some parts of the static site such as the URLs generated for the calendar links.
There needs to be a way to specify this variable at build time, since Calendso project prefers not inserting variables at runtime.

[2021-11-17 23:54] krumware commented on #47
Added an ARG to the dockerfile to address this.
Added arg examples to the docker-compose.yml

[2021-11-17 23:54] krumware commented on #46
the calendso/scripts folder needs to be included with the runner stage

[2021-11-19 13:58] krumware opened #50 "Separate Prisma Studio example into a separate service"
For better practice, and at risk of new docker users unknowingly opening holes in the primary calendso service, the docker-compose file should break prisma studio into its own service (it can use the same docker image as calendso), with its own port exposed as opposed to multiple.

[2021-11-19 16:15] krumware commented on #45
Please test with https://github.com/calendso/docker/pull/51 if possible

[2021-11-19 16:16] krumware commented on #43
please test with https://github.com/calendso/docker/pull/51 if possible

[2021-11-24 17:01] #46 closed

[2021-11-24 17:01] #50 closed

[2021-11-24 17:01] #45 closed

[2021-11-24 17:02] krumware commented on #43
please re-test with current files

[2021-11-24 17:05] krumware commented on #30
moving on to this now that the build is stable

[2021-11-24 17:06] #47 closed

[2021-11-24 17:06] krumware commented on #47
resolved

[2021-11-24 17:06] krumware commented on #22
please re-test with the current build

[2021-11-29 19:35] TheBestMoshe opened #56 "Allow setting all env variables at runtime"
Currently, we need to set the environment variables at build time. This is because Next.js includes them in the final bundle.

It would be better if we can build a generic Docker image, and inject the environment variables at runtime.

See this [discussion](https://github.com/vercel/next.js/discussions/17641#discussioncomment-339555) which has a way of doing it.

I am working on a Home Assistant a

[2021-11-30 14:46] krumware commented on #56
Do you have enough to do a pull request so that we can see the method in action?

[2021-12-05 13:01] dotesfera commented on #30
Is there any estimation when this is solved?

[2022-01-04 14:30] krumware commented on #56
@TheBestMoshe just wondering if you might have time to make a specific pull request with just the runtime injection workaround?

[2022-01-04 20:37] TheBestMoshe commented on #56
@krumware I began working on this, however, I'm not sure why it was not working for this repo.

[This](https://github.com/calendso/docker/compare/main...TheBestMoshe:thebestmoshe/allow-setting-all-56?expand=1) is what I have tried so far. However, it is not replacing the variables.

[2022-01-04 20:39] krumware commented on #56
ok thanks for the diff! much easier to see it in action here. I'll see what I can debug

[2022-01-04 20:54] TheBestMoshe commented on #56
I have this working on my [Home Assistant Add-on for Calendso](https://github.com/TheBestMoshe/home-assistant-addons/blob/cal.com-pinned-to-commit/cal.com/docker-entrypoint.sh)

If you want to see a working example, you can clone the repo and checkout the `cal.com-pinned-to-commit` branch. Then do the following steps:

Create a file in the `cal.com` directory `data/options.json` with the following

[2022-01-04 21:06] TheBestMoshe commented on #56
The issue I was having was that it was not overwriting the dummy values. I think there is something wrong my _find and replace_ code in start.sh

[2022-01-05 09:41] winston0410 opened #66 "Register page doesn't work"
I have followed the tutorial for running in docker, and when I navigate to `http://localhost:3000/signup`, I am unable to sign up. Is the identity function missing now?

Is there any patch for the self-hosted version so that I don't need to manually access `prisma studio`? Or at least can the user data injection be done with script?

[2022-01-06 14:50] Kfelts commented on #66
I'm also having deployment problems. The schema.prisma is causing errors and I can't get beyond this.

[2022-01-06 15:10] winston0410 commented on #66
@Kfelts can you try `docker log <containerID>`? But I don't think we have the same error.

[2022-01-06 15:16] krumware commented on #66
Thanks for the feedback y'all!
Logs and screenshots would be immensely helpful if you could provide some here

[2022-01-06 15:17] krumware commented on #56
Thanks @TheBestMoshe, will get to this as soon as I can

[2022-01-06 15:18] krumware commented on #43
Closing for inactivity

[2022-01-06 15:18] #43 closed

[2022-01-06 15:19] krumware commented on #30
@dotesfera this is now building and pushing to the public image

[2022-01-06 15:21] krumware commented on #20
Closing, this is now building and pushing automatically

[2022-01-06 15:21] #20 closed

[2022-01-06 15:21] krumware commented on #22
Closing for inactivity

[2022-01-06 15:33] winston0410 commented on #66
@krumware Thank you for replying! So I have the following config(I haven't changed anything apartfrom copy and paste from repo):

`.env`

[code]

[code]

Reproduce:

- Go to `http://localhost:3000/signup`
- see the following error
![1641483123](https://user-images.githubusercontent.com/59228178/148407632-c3bdd0c2-890c-4c97-9cb7-7a2f72077bb5.jpg)

Log in docker:

[code]

[2022-01-06 17:06] krumware commented on #66
Awesome, thanks for the detail!

I'm talking with the cal.com team on slack about it

[2022-01-06 17:31] winston0410 commented on #66
Thanks. This is a really promising project, good job!

[2022-01-07 14:46] SuperDarius-git opened #68 "User create error"
Hi

I am having a problem when I create my first user. Please help.

**The error is:**
![image](https://user-images.githubusercontent.com/29814230/148560091-66b68c38-4f6c-4576-964d-50dea7aa94d5.png)

**and the details are:**
[code]

[2022-01-10 20:29] ovizii commented on #30
I would prefer using an image from dockerhub rather than building my own according to the instructions here so I am wondering, is this the image which is being maintained and suggested to use?
There are a couple of others which also seem up-to-date hence my question.

=> https://hub.docker.com/r/calendso/calendso
(Btw. I noticed this one also needs to be git cloned and then built, right? So, no us

[2022-01-10 20:58] PeerRich commented on #30
I haven't used docker in a while but https://hub.docker.com/r/calendso/calendso should be ready to go @krumware right?

[2022-01-10 21:35] MR-Os1 commented on #68
Hello
I resolved this issue by adding the {} of json instead of null field in metadata column.
the pull request is also in progress.
Thank you for noticing the issue.

[2022-01-10 21:53] ovizii commented on #30
maybe the instructions just have not been updated? I checked https://hub.docker.com/r/calendso/calendso and it still says:

![image](https://user-images.githubusercontent.com/837902/148844990-7b70e776-05b7-4f49-9bc8-94d3e14cc7a7.png)

[2022-01-10 21:59] krumware commented on #30
@ovizii there are limitations being talked about and tracked here: https://github.com/calendso/docker/issues/56

The issue is that Calendso bakes variables into a static build, which forces us to have some form of build process in addition to the container run. There is another thread in calendso/calendso which talks about it as well. Because of the static build, we are losing some runtime conveni

[2022-01-10 22:00] krumware commented on #30
For localhost usage and demo, the dockerhub option works out of the box. For production configurability at runtime, we're working through that

[2022-01-10 22:07] krumware commented on #68
Hi folks, I'm hoping to clarify this issue.
Do you know which field caused the issue for you?
![image](https://user-images.githubusercontent.com/17303782/148846640-03c53663-b7df-46a6-bd94-161d362eacbe.png)

[2022-01-10 22:32] ovizii commented on #30
@krumware thanks, I had read a couple of topics here and I don't mind building the image myself. It seems I misread a couple of replies in this thread which led me to believe this was already no longer necessary.
I'll give it a go, perfectly happy to see how it all works.

[2022-01-10 22:38] krumware commented on #30
I'm working on adding a quick conditional to the start script to run the dev server at runtime, which could give us configurability we're looking for. Testing now

[2022-01-10 22:41] ovizii opened #69 "Need some more explanations about some .env variables"
I just found out about cal.com and the self-hosted Docker based version a few days ago and would like to give it a spin on my NAS for my own usage. I'd appreciate any comments on my probably silly questions.

I'm talking about this file: https://github.com/calendso/docker/blob/main/.env.example

To which line does line 1 refer? do I set line 8 or 9 to 'agree' and what about the other one then? My

[2022-01-10 22:50] PeerRich commented on #66
hey there, account creation is not part of the open core, yet. you need to use prisma studio if you self host. the majority of the self-host users have an existing user base already or have their own account creation and sync it up with the posgres of calendso.

[2022-01-10 22:50] #66 closed

[2022-01-10 23:16] krumware commented on #69
1: is referring to 8 and 9
8 and 9, set both to `agree` if you agree with the license terms. (I am not yet certain that the variables are not used interchangeably)
11: probably leave the BASE_URL as `http://localhost:3000`, there is a fetch that happens internally, and will fail if your infrastructure does not update the container with service discovery of itself
12: this is the public facing url.

[2022-01-10 23:17] krumware commented on #69
The `NEXT_` prefix is for variables used by the next.js framework that cal.com uses under the hood.

[2022-01-11 07:40] ovizii commented on #69
thank you so much for taking time to help. That should get me going.

[2022-01-11 07:40] #69 closed

[2022-01-11 09:49] SuperDarius-git commented on #68
@krumware I'm not sure where the error comes from. I think it is from the "metadata" field, but when I added {} as @MR-Os1 suggested, I get another error as below (slightly different than the previous error):

![image](https://user-images.githubusercontent.com/29814230/148919735-bd9bcb02-f6c5-4634-949f-1e8972aeb390.png)

and the following details:

`Type: PrismaClientValidationError
Message:
Inval

[2022-01-11 14:35] SantoshSrinivas79 opened #70 "Stripe Integration"
Could you pls advise how to activate the stripe integration? The `.env.example` doesn't seem to have any reference to Stripe

[2022-01-11 16:16] PeerRich commented on #70
Hey @SantoshSrinivas79, the stripe integration is not part of the open core codebase and has an enterprise license. I am happy to jump on a call to talk about it cal.com/peer

[2022-01-13 12:46] MR-Os1 commented on #68
![image](https://user-images.githubusercontent.com/21277208/149332757-f0c33bca-7840-43f4-a535-6d3f941eef53.png)

the last field

[2022-01-13 12:49] MR-Os1 commented on #68
I think you have tried to fill the id field  in table which is a auto increment field in the table.
if you left it with default content it will work.

[2022-01-13 13:49] SuperDarius-git commented on #68
Thank you to all! That worked!!!!

[2022-01-13 14:06] SuperDarius-git commented on #68
I do have 2 more questions for you. And please forgive me if it is stupid questions.
1. I am trying to accept the license, but I'm not sure how to do it. What I did is in Portainer I duplicated/edited the container and changed the .env variables to 'agree', but it does not seem to have worked.
2. Secondly, where do I change the URL from localhost:3000 to my public URL?

Thank you in advance!
Dariu

[2022-01-13 16:07] MR-Os1 commented on #68
For your first  question I think  you should get a license for that box to go away  and for the second one you have to change BASE_URL and NEXT_PUBLIC_APP_URL in .env to change the public URL.

[2022-01-13 17:23] SuperDarius-git commented on #68
Thanks Everyone!

[2022-01-13 17:23] #68 closed

[2022-01-14 21:23] krumware opened #72 "Docker image failing to build after submodule update"
Docker image failed to build early this morning after the automatic submodule update. Needs to be investigated.

[2022-01-17 15:54] searsaw commented on #72
I was able to build the Docker image after [the most recent auto-update](584a77082c0c8fc46cf4c4a6a7902847d4aa4b8a).

[2022-01-17 15:59] krumware commented on #72
Yup, I was able to trigger the submodule update and build about an hour ago. Thanks y'all!

[2022-01-17 15:59] #72 closed

[2022-01-21 19:09] davidwuest opened #75 "Error: Invalid key length - Apple Calendar Integration"
When trying to add the apple calendar I get the following error. Any ideas?
Error: Invalid key length
at Cipheriv.createCipherBase (internal/crypto/cipher.js:103:19)
at Cipheriv.createCipherWithIV (internal/crypto/cipher.js:121:20)
at new Cipheriv (internal/crypto/cipher.js:227:22)
at Object.createCipheriv (crypto.js:124:10)
at symmetricEncrypt (/app/.next/server/chunks/1027.js:29:66)
at handler (

[2022-01-24 17:16] killjoy2013 commented on #11
Thank you :-)

[2022-01-30 06:41] Ak4zh opened #76 "Use BASE_URL instead of example.com"
Self hosted version uses https://calendso.example.com/ at many places.

- Click on preview Team url it opens https://calendso.example.com/team/xxxxxx
- The profile edit section where you set username also uses same example domain
- side panel on avatar popup
- Email edit section: To change your email, please contact help@cal.com
- Brand header in sidebar

All these can be replaced to use the BASE_

[2022-01-30 10:20] PeerRich commented on #76
i think this issue should be posted in https://github.com/calendso/calendso

[2022-02-01 14:01] dotesfera commented on #30
Made it work finally using docker hub, thank you!

[2022-02-01 14:01] #30 closed

[2022-02-02 18:04] adriaanvanrossum opened #79 "Cannot find module `/app/node_modules/@hookform/resolvers/zod/dist/zod`"
When following the instructions on the home page and running `docker-compose up --build -d` I get the following error from the logs in `docker logs calendso-docker_calendso_1 -f`:

[code]

I can log in with the credentials I have set. But get a 500 page when going to `/getting-started`.

[2022-02-02 18:05] adriaanvanrossum commented on #75
Shouldn't that `CALENDSO_ENCRYPTION_KEY` not be 32 characters?

[2022-02-02 18:56] davidwuest commented on #75
https://github.com/calcom/cal.com/issues/1585

[2022-02-03 10:32] emrysal commented on #79
Hi @adriaanvanrossum - this was a temporary issue in main resolved by https://github.com/calcom/cal.com/pull/1681 - it should work now.

[2022-02-03 10:32] #79 closed

[2022-02-03 14:10] adriaanvanrossum commented on #79
Thank you!

[2022-02-05 12:30] patrikzudel opened #80 "SMTP Email not working"
Trying to setup the SMTP to work through Gmail, I am using the verified settings from the main repo but no emails are getting sent when I create a booking

[code]

I am posting this to the docker repo as supposedly it should work as it has been "verified" in the readme of the main one. Getting no errors, the emails simply don't get sent.

[2022-02-05 12:58] krumware commented on #80
Have you tried it without the quotes around your env var values?

[2022-02-05 13:50] patrikzudel commented on #80
Yes, it doesn't work with and without the `''`

[2022-02-05 14:15] krumware commented on #80
Are there any logs?

[2022-02-05 15:02] patrikzudel commented on #80
How could I access them? :/ I am quite new to docker and node.js

[2022-02-05 18:43] krumware commented on #80
When you run with `docker-compose up`, docker will attach to the processes and output logs to your terminal.

Another option for validation would be to run clone the repository per the instructions with the --recursive flag, then run Calendso directly as a node process, to check your configuration and rule out docker

[2022-02-05 19:53] patrikzudel commented on #80
Oh those? Nothing seems out of the ordinary, no errors, just SQL queries I think.

[2022-02-09 16:44] m4rcster opened #81 "Arm64 Image"
Hi there,

Is there a plan to provide an arm64 image?

https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2022-02-16 18:52] afroeagle opened #84 "Docker "Service 'calendso' failed to build" due to "Step 4/31 : COPY calendso/apps/web/prisma""
**Environment**
1. Fresh install of Ubuntu 20.04.3 LTS Desktop

<br>

**Install Process**
1. Install `Docker` and `Docker-Compose` via the official Docker website procedure
2. Clone calendso-docker (I have also tried this with `--recursive` at the end as mentioned in https://github.com/calcom/docker/issues/12)
`git clone --recursive https://github.com/calendso/docker.git calendso-docker`
3. Change

[2022-02-16 21:02] nogara commented on #84
It seems as if https://github.com/calcom/cal.com/pull/1823 messed things up with the Prisma dir...

[2022-02-17 02:22] afroeagle commented on #84
Any guidance on how to (at least temporarily) get past this obstacle? Thank you 😊

[2022-02-17 11:25] AshnaSabu123 commented on #84
Facing the same issue.

[2022-02-17 12:30] AshnaSabu123 opened #85 "An unexpected error occurred: "https://registry.yarnpkg.com/@calcom%2flib: Not found"."
I have done a fix my moving the prisma to another location but another issue occur.

 ---> Running in f6a7a687a701
yarn install v1.22.5
[1/5] Validating package.json...
[2/5] Resolving packages...
error An unexpected error occurred: "https://registry.yarnpkg.com/@calcom%2flib: Not found".
info If you think this is a bug, please open a bug report with the information provided in "/calendso/yarn-err

[2022-02-17 13:39] apfelcast commented on #84
I solved this issue by

`cp -r calendso/packages/prisma calendso/apps/web/`

and then re-run the build command

[2022-02-17 15:26] krumware commented on #84
I'll take a look at this today. Sorry for the trouble, y'all. The main repo is in flux with the structure transition and we're having to react to them. Thanks for the help!

[2022-02-17 19:32] searsaw commented on #85
I'm working through some of these issues now. This is related to the fact that the main project moved to using Yarn workspaces. This is a pretty big reorg of the project and requires a good many changes to the Dockerfile. I'm trying to get these things fixed soon.

[2022-02-17 19:33] searsaw commented on #84
This is related to a reorg of the main project. See [my comment here](https://github.com/calcom/docker/issues/85#issuecomment-1043339511)

[2022-02-17 20:14] afroeagle commented on #84
Thank you!!

[2022-02-18 16:28] leprodude opened #87 "Installing for production"
Is there documentation on how to setup for production? Just read that this docker image is for local dev and evaluation only...
Ideally there would be a docker-compose that'd just work.

I'd be happy to write a setup and provide the docker-compose once I get it to work, but not sure where to start or if it's even possible to host for production.

Any hints or tutorials I've missed?

[2022-02-22 16:28] 7aklhz opened #88 "SECRET issue"
Hi,

I have installed calcom using Docker and when I open my app url, I get errors concerning missing secret
`[next-auth][error][NO_SECRET]
2022-02-22T16:26:01.391583752Z https://next-auth.js.org/errors#no_secret Please define a `secret` in production. MissingSecret [MissingSecretError]: Please define a `secret` in production.
2022-02-22T16:26:01.391591995Z at assertConfig (/calcom/node_modules/ne

[2022-02-22 19:15] leprodude opened #89 "The table `public.users` does not exist in the current database"
After building calendso on my server and getting access to both the page as well as the studio, I got this error when loading studio and also when trying to add a user.

After successfully building it I saw the error `initdb: error: could not create directory "/var/lib/postgresql/data/pg_wal": No space left on device`, so I did a `docker system prune --all --volumes` to free up space and that seem

[2022-02-23 20:40] kettenbach-it opened #90 "Absolute path to wait-for-it.sh in start.sh"
[code]

The docker WORKDIR is /calcom but the path to wait-for-it.sh is hardcoded as /app in start.sh
The path should be relative to be independent of the WORKDIR

[2022-02-24 07:58] kettenbach-it opened #91 "Dockerfile: calendso/apps/web/prisma missing in submodule"
This

[code]

fail because in `https://github.com/calcom/cal.com/tree/main/apps/web` there is no prisma

[2022-02-24 08:06] kettenbach-it opened #92 "@calcom/lib not found"
yarn install failes:

[code]

[2022-02-24 10:42] ospaarmann commented on #91
Same here when trying to build:

[code]

[2022-02-24 14:26] kettenbach-it commented on #91
I think "yarn" needs to run before this COPY, since it installs prisma.

Can you try that?

[2022-02-24 21:47] ospaarmann commented on #91
I tried running `yarn` before. Same result:

[code]

[2022-02-27 18:32] afroeagle commented on #92
This appears to be a duplicate of https://github.com/calcom/docker/issues/85.

[2022-02-27 18:32] afroeagle commented on #85
I am also experiencing this issue. Thank you for your efforts @searsaw!

[2022-03-03 16:54] clarkhacks commented on #91
Same issue here.

[2022-03-03 19:46] danilokorber commented on #91
Don't know if this is the right approach, but I renamed calendso/apps/web/@prisma to calendso/apps/web/prisma and it worked (at least until the next issue).

[2022-03-09 01:02] johncadengo commented on #87
Also interested in this. @leprodude any progress on the docker-compose?

[2022-03-09 09:27] BahrouniYousra commented on #92
Same issue here, have you find a solution plz !

[2022-03-09 11:35] leprodude commented on #87
I've been able to build and host it, but somehow my database wasn't initialising properly, so I couldn't use it.
I've decided to wait a bit, as the code base is being switched etc. but at some point I'll try again and post an update here if I get it to work properly

[2022-03-09 12:01] agustif commented on #91
Hey guys, we recently moved to a monorepo managed with turborepo. We're moving shared stuff out from web into the @calcom/packages folder.

Can you try changing for @calcom/packages/prisma instead?

[2022-03-09 12:04] agustif commented on #92
The problem here seems that the docker setup tries to install the package @calcom/lib as it was a regular published in npm/yarn package, which is not.

@calcom/lib lives in calcom/packages/lib now. And it should be picked up during install of the monorepo/turborepo, hope this can find you debug the problem.

[2022-03-16 07:47] christianreiss commented on #91
Hey @agustif !

I am the one stepping out of the crowd here. I see that you, ugh, wrote text. Great!
But as the average "docker run" guys we are that solution(?) you proposed does not help us in any way.

Change what now? How? What's a @calcom/prisma? Alias link? To what now? calcom/packages/prisma?
Turborepo sound fast, tho! :-)

[2022-03-16 08:56] saschafoerster commented on #91
I tried also in all described ways to install Cal.com. With our without docker. No success.
There is no good description or documentation to get it actually running on your own hardware. Neither for production or development. Feels like the source code is open, but not the spirit. So I use https://easyappointments.org/ because the installation was... easy. But I hope you take this comment as an en

[2022-03-16 10:40] kettenbach-it commented on #91
@saschafoerster @christianreiss

Same here: docs are very unclear, codebase is a mess. Didn't get a container build, even as a pretty experienced developer

[2022-03-17 21:29] nickandre10x commented on #91
So the issue seems to be in the Dockerfile line 4:

They recently moved the prisma directory and haven't updated this, so change it to:

[2022-03-19 16:38] saschafoerster commented on #91
@nickandre10x Changing @prisma just get you to the next issue #92 / #85, which is still unsolved either. :) Waiting, testing, error, waiting again.

[2022-03-21 04:49] secfigo commented on #92
Please follow the instructions available in this PR to resolve this.

https://github.com/calcom/docker/pull/86#issuecomment-1047179700

I will summarize the steps here for your convenience.

[code]

You will have to visit localhost:5555 afterward to set up the user(s). Reason? See below.

<img width="677" alt="image" src="https://user-images.githubusercontent.com/11695998/159206791-e61be1f8-1c2f-4

[2022-03-21 04:51] secfigo commented on #91
Please refer to the following comment to set up the software. Will share a setup with caddy/traefik soon.

https://github.com/calcom/docker/issues/92#issuecomment-1073483062

[2022-03-22 16:07] luxio opened #93 "What is the best way to deploy changes while developing without having to rebuild the container?"
What is the best way to deploy changes while developing without having to rebuild the container?

[2022-03-23 13:45] AmoghSaxena commented on #92
Completly Agree with this solution. I had the same problem but got fixed by  [#86 Comment](https://github.com/calcom/docker/pull/86#issuecomment-1047179700)

[2022-03-28 09:40] AmoghSaxena commented on #80
I guess cannot check the log file that you shared on pastbin.

[2022-03-28 09:48] AmoghSaxena commented on #81
Hey! @m4rcster I was trying the same on my RaspberryPi will update you if I find any progress.

[2022-03-28 09:50] finaldzn commented on #81
Did you try to build with the --platform key ?

[2022-03-28 20:51] #84 closed

[2022-03-28 20:54] krumware commented on #91
Please retest with latest, dockerfile changes have been merged from https://github.com/calcom/docker/pull/86

[2022-03-28 20:56] krumware commented on #85
please retest with latest, re: https://github.com/calcom/docker/pull/86

[2022-03-29 09:48] Silur commented on #91
It get past the topic of this issue, but halts at:
[code]

Full process:
https://asciinema.org/a/gTUaYD984pt8UeW5U9EYKmH1h

[2022-03-29 09:52] danilokorber commented on #91
Same here

[2022-03-29 10:20] krumware commented on #91
Looks like issues with the submodules. Working on updates

[2022-03-31 19:39] krumware commented on #91
related issue in main repo: https://github.com/calcom/cal.com/issues/2305

[2022-03-31 22:32] zomars commented on #91
Actually it should be changed to

[code]

[2022-04-01 12:17] AmoghSaxena commented on #81
Not yet... But can try if you guide me.

[2022-04-04 15:45] krumware commented on #92
Submodule update is knocked out, and may have created some other issues now that we aren't one month behind anymore

[2022-04-04 17:40] riceo opened #96 "Unable to follow README instructions as submodules are private"
I'm attempting to evaluate Cal locally on my machine via Docker compose. I followed the readme on the homepage of this repo but found the `submodule init` step fails due to missing submodules which I assume are private repos:

*  https://github.com/calcom/api
* https://github.com/calcom/website

How do I get around this? Is there a preferred way to evaluate Cal or some documentation I am missing?

[2022-04-04 20:54] riceo commented on #96
I just modified `docker-compose.yaml` to pull the official image instead of building it locally:

[code]

This allows the `docker-compose up` to run but if the repos *are* meant to be private:

1. You'll want to update the readme on this repo to reflect that it won't work out of the box
2. The private repos are now being leaked in the built docker images at https://hub.docker.com/r/calendso/calend

[2022-04-04 21:08] krumware commented on #96
I did not see that api was marked as private, that explains some things. Will get clarification on how to handle that or if it is intended to remain private

[2022-04-04 21:10] drestrepob commented on #88
Where you able to get this fixed?

[2022-04-07 10:16] Dmitry-Vlasenko commented on #96
And also there is a problem with NPM, can't find package calcom. How is it possible to rebuild a docker container in local?

[2022-04-07 12:50] tholu commented on #89
@leprodude Running into the same issue. Did you solve it?

[2022-04-10 12:53] SamuelBlickle opened #98 "Update docker hub to latest"
Could somebody kindly update the latest build on docker hub?
I think there have been many important changes on the codebase within the last 2 months.

Thank you very much!

[2022-04-10 18:59] alonsomoya commented on #88
I faced the same, and managed to fix it by adding all envars from https://github.com/calcom/cal.com/blob/main/.env.example
[code]

[2022-04-14 20:29] johncadengo commented on #87
@leprodude thanks for the info. Did you try initializing your own production docker image rather than starting with this as a base?

[2022-04-17 05:02] JoeyFenny commented on #91
Seems like these changes shouldn't have been merged into main if they were only half-done.

[2022-04-17 05:19] JoeyFenny commented on #93
This is a docker question rather than a calcom issue.

[2022-04-17 08:46] leprodude commented on #87
Honestly I don't remember atm. I probably just used the docker image and made some changes to the docker-compose template...

[2022-04-17 09:11] mokkin opened #99 "git is asking for username"
The `git clone` command is asking for usernames now. Is that right?
[code]

[2022-04-18 20:19] PeerRich commented on #96
@zomars can you take a look?

[2022-04-18 20:22] PeerRich commented on #99
@zomars I believe the submodules may be causing some issues right now?

[2022-04-18 20:22] PeerRich commented on #99
@krumware did you found a way?

[2022-04-18 20:23] PeerRich commented on #98
@krumware can you help out?

[2022-04-18 20:23] PeerRich commented on #98
I do agree @SamuelBlickle we've been a bit behind with the docker maintenance. we hope to soon offer official support for a docker image, right now it's community-ran

[2022-04-18 20:33] zomars commented on #99
It is submodule related yes. But it shouldn't ask for a username. Maybe switch from https to ssh in gitmodules could help. Or remove them altogether from docker

[2022-04-18 20:35] zomars commented on #96
Those aren't npm packages but references or aliases to monorepo packages

[2022-04-18 20:37] zomars commented on #96
It is intended to remain private. We could add a step in the docker file to remove the `.gitmodules` file before updating

[2022-04-19 12:51] krumware commented on #99
It's submodule related because the API submodule references a private repository. Hoping to discuss this today.

[2022-04-20 08:05] brunoamaral commented on #98
Tried building from docker and I'm getting an error `error Couldn't find package "@calcom/app-store@*" required by "@calcom/web@1.5.2" on the "npm" registry.`

Guess that's related to the changes?

[2022-04-20 18:08] BahrouniYousra commented on #98
@brunoamaral same pb here, have you find a solution plz?

[2022-04-21 10:57] rohanrajpal commented on #99
Facing the same issue
[code]

[2022-04-21 11:21] PeerRich commented on #99
we're discussing this issue right now 🙏

[2022-04-21 13:57] krumware commented on #99
Creating a new GH issue to track docker changes to address these things

[2022-04-21 14:12] krumware opened #102 "Feature: Rework Docker support"
Discussed with @zomars & @PeerRich

We are going to:

 - Rework submodule requirements
 - Add npm credentials and help with calcom package inclusion
 - Do Not Include enterprise API in public image
 - Formalize helm and docker support, including documentation

[2022-04-21 14:19] finaldzn commented on #102
For the helm part, I've submitted my PR. We have been using the chart with no issues so far

[2022-04-21 14:30] krumware commented on #102
👍 definitely on track there

[2022-04-21 19:32] brunoamaral commented on #98
@BahrouniYousra , no, I was hoping it would be related with this issue and didn't investigate further.

[2022-04-22 04:16] narzero commented on #99
Same isse here

[2022-04-22 07:10] krumware commented on #99
Fix for this is in progress

[2022-04-22 09:47] iqbalpb01 opened #103 "Docker-compose showing Error while resolving packages"
Using latest version of docker and docker-compose

## Error
Screenshot
[https://raw.githubusercontent.com/iqbalpb01/Hacktopress/master/Screenshot%20from%202022-04-22%2015-13-04.png](url)

`error Couldn't find package "@calcom/app-store@*" required by "@calcom/web@1.5.2" on the "npm" registry.
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command.
Error: Couldn't f

[2022-04-26 18:28] #85 closed

[2022-04-27 06:49] #102 closed

[2022-04-29 19:53] krumware commented on #103
can you please retry with the latest images?

[2022-04-29 19:53] krumware commented on #99
can you please retry with latest and latest instructions?

[2022-04-29 19:54] krumware commented on #98
please retry with latest, thanks!

[2022-04-29 19:54] krumware commented on #92
resolves with latest

[2022-04-29 19:54] #92 closed

[2022-04-29 19:55] krumware commented on #96
resolved with latest

[2022-04-29 19:55] #96 closed

[2022-04-29 19:56] krumware commented on #89
This was an issue where the latest calendso/calendso image which the `studio` service uses was an old version which did not match the current schema version. (so a schema mismatch).

Please `docker-compose pull` and clone latest, should be good to go

[2022-04-29 19:57] krumware commented on #88
please try again with latest instructions

[2022-04-29 19:57] #76 closed

[2022-04-29 19:57] #70 closed

[2022-04-29 19:58] #39 closed

[2022-04-29 20:00] krumware commented on #90
This was resolved in latest. thanks for the suggestion!

[2022-04-29 20:00] #90 closed

[2022-05-01 17:13] fcoscarello commented on #99
Keeps asking for credentials with the latest instructions

[2022-05-04 23:30] scantreed commented on #99
After following the instructions I'm still experiencing the same issues as well

[2022-05-05 18:04] krumware commented on #99
AH, the --recursive is still there. I'll fix that immediately.
Please try with a regular clone and not --recursive

[2022-05-05 18:07] krumware commented on #99
The instruction in the readme is now corrected

[2022-05-06 22:48] scantreed commented on #99
Thanks @krumware

[2022-05-10 08:18] DarkDeddok opened #108 "Docker-compose shows an error during build"
I follow the instructions and get errors. help me pls

![image](https://user-images.githubusercontent.com/57879696/167581016-a5f734fc-80eb-4f4a-bff0-1dd3698252f7.png)
![image](https://user-images.githubusercontent.com/57879696/167581159-2f79ea32-b3ff-40be-9cd6-82b01f70090e.png)

[2022-05-10 10:14] thedevale commented on #108
#0 0.404 yarn run v1.22.17
#0 0.439 $ turbo run build --scope="@calcom/web" --include-dependencies
#0 0.979  WARNING  cannot find a .git folder. Falling back to manual file hashing (which may be slower). If you are running this build in a pruned directory, you can ignore this message. Otherwise, please initialize a git repository in the root of your monorepo
#0 0.980 • Packages in scope: @calcom/a

[2022-05-10 10:25] DarkDeddok commented on #108
that is, the problem in Dockerfile?

[2022-05-10 10:43] DarkDeddok commented on #108
maybe you will make changes so that there are no errors in the build

[2022-05-10 22:34] scantreed commented on #108
I'm having the same issue here

[2022-05-11 01:05] anthonyneto commented on #108
Was able to get it to progress by changing this line: https://github.com/calcom/docker/blob/main/Dockerfile#L62 to this: ```COPY --from=deps /calcom/packages ./packages```

[2022-05-11 06:41] reachkrishnaraj opened #109 "docker build fails"
**command: docker compose up --build**

**Error:**

=> CACHED [builder 6/7] COPY --from=deps /calcom/node_modules ./node_modules                                                                            0.0s
 => ERROR [builder 7/7] RUN yarn build                                                                                                                   5.0s
------

#0 0.652 yarn run v1.22.1

[2022-05-11 09:36] DarkDeddok commented on #108
this did not solve the problem

[2022-05-11 09:39] DarkDeddok commented on #109
I have the same problem

[2022-05-11 10:39] DarkDeddok commented on #108
I replaced in https://github.com/calcom/docker/blob/main/Dockerfile#L64 to this: `RUN yarn run` and progress went to Step 61/66, but got an error

![image](https://user-images.githubusercontent.com/57879696/167830990-90e4f84e-d111-462b-9889-101edd04e7b9.png)

[2022-05-11 22:56] chasebolt commented on #108
this solved my issue thanks!

[2022-05-11 23:13] scantreed commented on #108
@chasebolt did you encounter this error after adding the fix?

[code]

[2022-05-11 23:18] chasebolt commented on #108
yes because i didn't have a postgres instance running. which is required during the build. separate problem from this original error in this issue though.

[2022-05-11 23:29] krumware commented on #108
The Prisma database connection is currently required during the build (new change) due to a refactor of the .env files to work around AWS env file size restrictions. a number of configuration items are being moved into the database. The temporary solution here is to checkout a version of calcom prior to that change and allow time for the refactor, but that obviously won't include the newest featur

[2022-05-12 00:13] scantreed commented on #108
thanks @krumware

[2022-05-12 21:40] anthonyneto commented on #108
Added the above PR to address the missing tailwind binary, still need to look into the changes mentioned by @krumware Thanks!

[2022-05-12 21:45] #108 closed

[2022-05-15 17:15] sjcotto opened #113 "docker compose build fail"
hi there, was trying to install the docker-compose "as is" without any change but it's giving the following error

@calcom/prisma:build: error: Environment variable not found: DATABASE_URL.
@calcom/prisma:build:   -->  schema.prisma:6
@calcom/prisma:build:    |
@calcom/prisma:build:  5 |   provider = "postgresql"
@calcom/prisma:build:  6 |   url      = env("DATABASE_URL")
@calcom/prisma:build:

[2022-05-16 09:58] DarkDeddok commented on #108
guys, this is not a solution to the problem. Why you did not make changes to the file? so far i see the following errors

![image](https://user-images.githubusercontent.com/57879696/168568071-8c578a4c-6e29-47b5-917d-832d19fa2e39.png)

![image](https://user-images.githubusercontent.com/57879696/168567798-129136a8-cb0e-4802-b397-0516e38c2264.png)

[2022-05-16 18:46] apitel commented on #113
I am having the same issue

[2022-05-17 01:50] kaddour-youcef commented on #113
Anyone found a solution ?

[2022-05-17 12:56] theRealBithive commented on #113
@kaddour-youcef here is a repo that builds from the non docker files and creates a docker container: https://github.com/speckm/calendso-docker

[2022-05-17 17:58] SebastiaanVanspauwen commented on #113
Facing the same issue

[2022-05-17 18:11] krumware commented on #113
If possible, please try the changes in #112.
Prior to building, you can run `docker compose up -d database`, to make a database available, then use `host.docker.internal` as the hostname for the DATABASE_URL arg, and that will successfully validate the prisma schemas. Afterwards you can change your database host back to the desired runtime database.

[2022-05-20 17:44] devinellis opened #115 "Build failed: JavaScript heap out of memory"
I'm excited to try out cal.com. I had to upgrade the VM up to 8GB for the build to complete, which seems like a lot for a webapp (the build was the only thing running). Maybe down the road, a pre-compiled build of the app could be distributed via docker? It was also is unfortunate that I had to completely rebuild when I changed NEXT_PUBLIC_WEBAPP_URL to a public URL, vs having it as an environment

[2022-05-22 10:50] drwb opened #120 "How to update a docker-built container?"
What are the steps to update a previously built docker container?

I’d imagine an update of the repository
`git pull origin master ` ?

a (manual?) review of .env changes?

then somehow updating the database without losing data? perhaps there’s a new schema. this is where I’m conceptually stuck.

I also notice that the docs require the database to be run first, which my existing installation logs

[2022-05-22 12:32] drwb opened #121 "docker compose build calcom fails with "network mode "stack" not supported by buildkit""
Following the instructions to build the container.
`docker compose build calcom` fails with:

`WARN[0000] The "NEXT_PUBLIC_TELEMETRY_KEY" variable is not set. Defaulting to a blank string.
[+] Building 0.0s (0/0)
network mode "stack" not supported by buildkit. You can define a custom network for your builder using the network driver-opt in buildx create.`

`DOCKER_BUILDKIT=0 docker compose build c

[2022-05-22 14:53] krumware commented on #121
Those are typically warns and do not fail the build. Is there more log content available?

[2022-05-22 15:28] drwb commented on #121
"network mode "stack" not supported by buildkit. You can define a custom network for your builder using the network driver-opt in buildx create." is terminal and exits the build process
<img width="1342" alt="Screenshot 2022-05-22 at 16 28 25" src="https://user-images.githubusercontent.com/16479230/169703163-7f7850ef-17cd-4f23-83a3-5a56a638a55c.png">
.

[2022-05-22 15:37] Th0masDB commented on #113
This doesn't work unfortunately.

[2022-05-22 15:42] SebastiaanVanspauwen commented on #113
@Th0masDB #112 worked for me

[2022-05-22 15:55] drwb opened #122 "Creating first user in Prisma studio "The column `Availability.label` does not exist in the current database.""
In step 8 of the readme.md instructions, notwithstanding the workaround for  #121, Prisma studio throws the following error when trying to save the fist user:

[code]

When browsing the `availability` field, it throws the error:

[code]

[2022-05-22 17:05] Th0masDB commented on #113
Unfortuanly for me it doesn't.... It makes the container.... But the container won't run with this error (but I think this is another topic):
[code]

[2022-05-22 19:25] kaddour-youcef commented on #113
I dont know about the docker it did not work, but you can build it from the repo it worked for me!

[2022-05-24 05:26] asantarissy commented on #122
The Prisma schema in the published docker image is a bit old or outdated, I had to access the database through pgadmin and added my first user there.

[2022-05-24 08:41] Th0masDB opened #123 "SyntaxError: Unexpected token 'for'"
When I was installing calcom for the first time, I got this error (I used this `DOCKER_BUILDKIT=0 docker compose build calcom` to build it):

[code]

[2022-05-24 12:57] drwb commented on #122
Given I’m building locally with `docker compose build calcom` is there a possibility of updating the schema in the local repository before the build?

[2022-05-25 14:53] krumware commented on #123
I'm unable to replicate the issue.
Can you please updating line 4 of start.sh to `./scripts/wait-for-it.sh ${DATABASE_HOST} -- echo "database is up"`
(add the beginning ./)

[2022-05-25 15:00] krumware commented on #122
You may have a database volume leftover from a previous setup.
Is this a fresh instance?  If you need to start from scratch, you can find the database-data volume and delete it
`docker volume ls`
`docker volume rm {name of offending volume}`

[2022-05-25 15:07] krumware commented on #121
"network mode "stack" not supported by buildkit" is a separate issue I'm working around.
The husky error is not related to buildkit, it is because we're note copying .git into the container (intentionally). but that error has not exited the container build in the past.

Can you give the output of the `DOCKER_BUILDKIT=0 docker compose build calcom`  (or the ending portion which demonstrates it's fa

[2022-05-25 15:10] krumware commented on #120
tagging @zomars here. Since the schema update during compilation is very recent, there may be relevant steps for even the non-container build that are documented and can be adapted

[2022-05-25 16:17] krumware commented on #120
But the Prisma migrations in the build are safe for existing databases, correct? Wasn't sure if there were any recommendations for upgrading in production and running the build against a shadow db

[2022-05-25 16:39] zomars commented on #120
They should be safe yes

[2022-05-25 16:41] krumware commented on #115
We've brought the team's attention to the static site built restrictions in the past, so I know it's on their radar, but I'm not certain of current status (definitely please open up an issue in the calcom repo and voice your feedback!). This is hotly debated topic in the self-hosting vs saas space.

Just adding some context:
- The NEXT_PUBLIC_WEBAPP_URL could be moved to runtime variables, but the

[2022-05-30 09:26] siddjellali opened #125 "Google client_id missing."
Hello team,

Could you please help me ?

Please find below the error message, the docker compose and the GOOGLE variable environment;
Calendso worked from low time now and failed recently.

[code]

**docker-compose :**

[code]

**GOOGLE_API_CREDENTIALS** = {"web":{"client_id":"xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","project_id":"calendso-338110","auth_uri":"https://accounts.google.com/o/oauth2/auth","t

[2022-05-30 09:30] siddjellali opened #126 "Missing apps in store"
Hello team,

Could you please help me on a bug/incident (from me) ?
I used calendso from a long time now and it recently failed with this error message when i click on a date to select hour meeting.

**@calcom/web:start: $ next start
@calcom/web:start: ready - started server on 0.0.0.0:3000, url: http://localhost:3000
@calcom/web:start: (node:385) UnhandledPromiseRejectionWarning: HttpError: Googl

[2022-05-30 09:31] siddjellali commented on #125
duplicated #126

[2022-05-30 09:31] #125 closed

[2022-05-31 07:13] siddjellali commented on #126
I also noticed that some apps are missing ...
Any help on that ?

![image](https://user-images.githubusercontent.com/3965823/171114074-2091f5ff-5dcd-4119-821e-001392967b99.png)

[2022-05-31 07:28] siddjellali commented on #126
I wipe my database to do a fresh install... something is wrong on the docker image....
Could you please investigate ?

![image](https://user-images.githubusercontent.com/3965823/171116760-0cc52d60-c159-4c8f-819a-c19c985cc34b.png)

[2022-05-31 15:27] PhilippFr commented on #121
@krumware
I'm having the same issue with the  `$ husky install fatal: Not a git repository (or any of the parent directories): .git`

here is the complete build output:

[code]

Could it be due to these sub-modules 404'ing, why is that btw?
https://github.com/calcom/website.git
https://github.com/calcom/console.git
https://github.com/calcom/api.git

[2022-05-31 16:57] drwb commented on #121
With me, I was simply not waiting long enough. It presented the `fatal: Not a git repository (or any of the parent directories): .git` error but would not crash back to prompt and, leaving it for a long time, it eventually continued and built successfully.

[2022-05-31 18:19] agustif commented on #126
Hello @siddjellali , thanks for the report.

We recently moved our app credentials form ENV variables to database, I think you're missing running the app migration? And thus it fails with new version ,because doesn't look for the google creds in env but db.

Could you try to add them to database and see if that fixes your issue?

Thanks!

[2022-05-31 18:24] zomars commented on #126
Have you checked the `.env.appStore.example` file?

[2022-05-31 18:24] zomars commented on #126
Have you checked the `.env.appStore.example` file?

[2022-05-31 18:58] Stefan-Ilic commented on #126
Hello @agustif,

I'm having the same issue, could you give a quick example of what exactly we should try adding to the database?

Thanks!

[2022-05-31 19:13] zomars commented on #126
You should copy the `.env.appStore.example` to `.env.appStore`, fill your desired API keys in there. Then run `yarn workspace @calcom/prisma seed-app-store`.

[2022-06-01 20:26] krumware commented on #126
@Stefan-Ilic does this help out with the issue?
https://github.com/calcom/docker/pull/127

[2022-06-02 06:39] GlitchWitch commented on #121
I'm running into the same issues noted by @drwb and @Frank-Wiebeler on a fresh and up to date install of Ubuntu 22.04 server using the [latest docker install](https://docs.docker.com/engine/install/ubuntu/).

[code]

[code]

[2022-06-02 09:24] siddjellali commented on #126
Thanks a lot for all your work and support.
Take care ^^

[2022-06-02 09:24] #126 closed

[2022-06-02 20:31] Stefan-Ilic commented on #126
I actually mended it by manually adding the entry to the database, but yes, that would have helped out a lot and will hopefully prevent other people from having the same issue, thanks!

[2022-06-03 06:36] ahuckphin opened #128 "Building 0.0s"
[code]

Could this be something to do with my server configuration?

[2022-06-03 11:20] GlitchWitch commented on #128
This is a duplicate of #121

[2022-06-03 13:28] krumware commented on #115
@devinellis Were you able to try changing the dockerfile to help with the memory issue?

[2022-06-03 13:30] krumware commented on #122
@drwb that updated image has been pushed. I know we're working through other things, but in the context of this particular issue, were you able to use the image to run the migration?

[2022-06-03 13:54] devinellis commented on #115
Since I have it up-and-running now, I haven't bothered to go back and rebuild. "If it ain't broke, don't fix it!" But I assume whenever I go to do an upgrade I'll try this out.

[2022-06-03 14:34] krumware commented on #115
Sounds great! I'm going to go ahead and close this but please update this when you try again

[2022-06-03 14:35] #115 closed

[2022-06-04 15:44] GlitchWitch opened #129 "@calcom/web:build: Error: Please set NEXTAUTH_SECRET"
After working past #121 I am running into a new issue.

Despite setting `NEXTAUTH_SECRET` in the `.env` file using a key generated from `openssl rand -base64 32` the build process fails at the following using the docker repo as of commit [76f812d](https://github.com/calcom/docker/commit/76f812d8976ecdbe47c1ecd5845082397d233897) and the main repo as of [1c89afc](https://github.com/calcom/cal.com/co

[2022-06-04 15:55] GlitchWitch commented on #129
Potentially related to [10edc1f](https://github.com/calcom/cal.com/commit/10edc1f4ac4cf6e2464e96f28738ba80743e5174)

[2022-06-04 20:13] krumware commented on #129
It looks like nextauth_secret was added to the base build requirements. @zomars can you confirm?

[2022-06-04 20:15] zomars commented on #129
Yes @krumware it is now a `next-auth` v4 requirement.

[2022-06-04 20:17] krumware commented on #129
@GlitchWitch you should be able to follow the dockerfile and add the variable to the arg and env steps, then also add the equivalent to the docker-compose args section as well.

Otherwise we'll get that added as soon as possible

[2022-06-04 20:36] agustif commented on #129
Just a random note, I had a weird issue when `openssl rand -base64 32` would generate strings containing \ backslashes, which wouldn't work nicely, make sure your string is only alphanumeric if possible.

[2022-06-06 19:07] Software-Design commented on #129
If anyone else is searching for a "quick and dirty" solution until there is an update available:

Modifying the Dockerfile and adding the missing environment variables manually is a quick way to get it running for the moment:

[code]

[2022-06-07 05:11] autism360 commented on #109
In `calcom/packages/prisma/package.json` you can revert the `build` script back to `yarn generate-schemas` to work around this

[2022-06-09 10:57] YBAAC commented on #122
Type: undefined
Message:
Invalid `prisma.user.create()` invocation:

  The column `Booking.confirmed` does not exist in the current database.

Code: P2022

Query:
[object Object]

Getting exactly the same error when creating a user

[2022-06-15 01:27] marcoadasilvaa commented on #122
Same error here with last update at main branch

Prisma Studio says: The column Booking.confirmed does not exist in the current database.

[2022-06-15 14:16] Qetzing commented on #122
For the ones needing a quick solution, I just used pgAdmin4 temporarily to create an user:

[code]

[2022-06-21 13:32] siddjellali opened #133 "Google configuration"
Hi,

How can we confirm google calendar ?
Google are installed but not configured ...

![image](https://user-images.githubusercontent.com/3965823/174811851-10eed4f8-e2e0-46df-b40b-7d8b7eea2963.png)

https://github.com/calcom/docker/issues/126
Thanks !

[2022-06-21 16:40] krumware commented on #133
I can confirm that it is working, at least when passing the variables into the env of the machine.
Do you have the google credentials added in your runtime env variables?

[2022-06-21 16:47] siddjellali commented on #133
Yes all seems good but as display in capture above ... no setting available.
For info, env.appStore is located on /var/lib/postgresql/data/ directory

[2022-06-22 16:12] moekify opened #134 "Can't get build to connect to postgres"
I verified that the connection works with `pg_isready`, however during the build step it fails to connect to localhost (and the provided db url)

[code]

Any hints? I spent quite some time to debug this

[2022-06-22 16:31] moekify commented on #109
Is there anyone looking into this?

[2022-06-22 17:26] finaldzn commented on #134
Is Postgres in the same container as cal.com ? If not then your postgresql instance is not reachable on local host.

Do you have a docked-compose or something like that ?

[2022-06-22 19:50] krumware commented on #109
There are instructions for building the image using docker compose (as opposed to a standard docker build), which address this issue. Is this not working using the docker compose build method?

[2022-06-22 19:59] krumware commented on #134
Localhost to the container, during the build, is the container itself and not your local development machine.

The docker compose build steps are provided because it creates a network bridge which allows you to reference a postgres container to build against.

It's worth mentioning that the build does not need to reference the same database as it will reference in runtime.

[2022-06-22 20:00] krumware commented on #129
This should now be resolved, please see updated instructions!

[2022-06-23 10:03] moekify commented on #134
It didn't work using the default network created by compose. However, once I added a dedicated network it worked out by running the container on its own. FWIW, I have it running behind a reverse proxy (traefik) that requires my own custom docker-compose setup.

[2022-06-23 15:35] krumware commented on #133
Is there anything you can share in the way of build or startup logs that would give more insight?
Otherwise I'm flying blind on your specific configuration.

The env.appStore is referenced by the seed script via relative path needs to be located in the calcom folder. Could your file location be the issue?
![image](https://user-images.githubusercontent.com/17303782/175338260-bb8560a0-7d2d-4bb6-8550

[2022-06-24 10:32] siddjellali commented on #133
Something wrong on the new docker release, i guess.

After a new install, all application in the store is "Cal Video"
![image](https://user-images.githubusercontent.com/3965823/175517454-baa8b9a5-66f8-47fe-8d70-48f841a749cc.png)

[2022-06-24 14:17] gianlucagilardi commented on #121
I have read in #129 that you were able to solve the issue: how did you do that? I am stuck at the network stack not found error :(

[2022-06-25 12:28] krumware commented on #133
@siddjellali this looks like it is cal.com project related and not necessarily specific to the docker build. Can you by chance open another issue on that side and link to this one for context?

[2022-06-27 09:20] brunoamaral commented on #134
@moekify what do you mean by a dedicated network? As far as I know, the one in docker-compose is already shared by the three containers.

[2022-06-27 10:04] moekify commented on #134
@brunoamaral I wrote my own docker-compose as I have a lot of custom properties for traefik (reverse-proxy) to work correctly with calcom :) I usually use the default network that gets created by docker-compose instead of specifying a new network inside the compose file. However, with the default network it didn't work in calcoms case. Why, I don't know 🤷

[2022-06-27 13:08] siddjellali commented on #133
@krumware docker image seems not fully operationnal.
For instance, the calcom code is not up to date.

<img width="1220" alt="Capture d’écran 2022-06-27 à 15 07 15" src="https://user-images.githubusercontent.com/3965823/175948985-5048d446-a512-450a-86db-dccaf247fc1e.png">

[2022-06-27 17:51] krumware commented on #133
are you using a self-built image or the dockerhub image?

are you referring to the "Update Available" text above or the WARN events?

[2022-06-27 19:16] siddjellali commented on #133
Dockerhub image.
Yes i'm refering to this information "Update available".

[2022-06-29 16:26] krumware commented on #133
![image](https://user-images.githubusercontent.com/17303782/176487394-1ab29356-fb70-407f-a219-c934fb930a33.png)

what method to set this up are you using?
- pulling the image and running directly?
- using this repository for building and pushing your own image?

and also how are you updating?

[2022-06-30 06:06] siddjellali commented on #133
weird ... i have cleaned the cache and now i'm in 1.7.4
App store is well now but google setting is still now here...

![image](https://user-images.githubusercontent.com/3965823/176604447-fdd0ce18-ab56-47ed-a6ca-2eba86727810.png)

![image](https://user-images.githubusercontent.com/3965823/176604482-c1970508-aa26-48af-92d4-b8f272840cf3.png)

[2022-07-08 09:23] siddjellali commented on #133
I did a fresh install...

[2022-07-08 09:23] #133 closed

[2022-07-08 09:28] siddjellali opened #136 "localhost:3000 everywhere"
Hello team,

Could you please help me on that ?

![image](https://user-images.githubusercontent.com/3965823/177962214-4dc733a7-cce4-4910-85e1-17ed9e4b4d0b.png)

[code]

I have all these variables configured in calcom docker

BASE_URL : https://agenda.xxxxxxx.com
NEXTAUTH_URL: https://agenda.xxxxxxx.com
NEXT_PUBLIC_APP_URL: https://agenda.xxxxxxx.com
NEXT_PUBLIC_WEBSITE_URL: https://agenda.xxxxxxx.

[2022-07-08 11:28] nabilblk commented on #136
+1 Same here

[2022-07-08 13:16] PeerRich commented on #136
@krumware i believe their .env is not being picked up correctly?

[2022-07-08 13:17] PeerRich commented on #133
did it work?

[2022-07-08 13:36] krumware commented on #136
Are you building your own image or pulling and running the image directly from dockerhub?

To clarify: At this time, for all URLs to reflect a custom URL, and because of the nature of the static site build, the environmental variables must be provided at build time for a custom container image which can then be run to reflect the custom URLs

[2022-07-08 13:44] siddjellali commented on #133
yes it did !
Same file / same configuration; basically, i just wipe the database.

[2022-07-08 13:48] siddjellali commented on #136
directly from dockerhub.

Do i need to create a fork and modify the variable below in the dockerfile ?
ARG NEXT_PUBLIC_WEBAPP_URL=http://localhost:3000

Why this variables cannot be modify as display in my docker compose above ?

[2022-07-08 14:45] krumware commented on #136
You don't necessarily need to fork it, but you do need to tag and push your own image. This is a limitation of the nextjs build currently, as those variables are compiled into the frontend code at build time. The portions that are server side rendered or backend are able to use the variables, but not the files compiled into the static site.

[2022-07-12 21:42] mokkin opened #137 "error in default compose file"
happens since this change https://github.com/calcom/docker/commit/c283a92614b54319a402207dd5de4e3e98751931
[code]

[2022-07-12 22:48] krumware commented on #137
@kelvinalfaro this was introduced in your last commit. Are you able to address this?

[2022-07-17 20:48] klipitkas commented on #137
This is still broken, any chance of fixing it?

[2022-07-18 01:03] jschulman commented on #137
I'm getting:

services.studio.volumes must be a list

[2022-07-18 01:08] jschulman commented on #128
no go.

[2022-07-18 01:50] agustif commented on #137
I think you guys are on docker-compose v2 and need to update to v3, or something similar. @jschulman @klipitkas can you try and let us know? Thank you

[2022-07-18 14:26] krumware commented on #137
Was waiting for @kelvinalfaro but I'll jump on this today if still unresponsive

[2022-07-18 14:38] jschulman commented on #137
I'm running Docker version 20.10.17, build 100c701 with the latest docker-compose plugin.

What's weird is the DOCKER_BUILDKIT=0 isn't working.  Even tried exporting it as a global var and still get the:

network mode "stack" not supported by buildkit

[2022-07-18 15:23] krumware commented on #136
@siddjellali were you able to find a path forward?

[2022-07-18 15:26] krumware commented on #121
related to #134
(linking for tracking)

[2022-07-18 15:27] krumware commented on #103
closing for inactivity

[2022-07-18 15:27] #103 closed

[2022-07-18 15:28] krumware commented on #98
will close after resolving most recent build issue

[2022-07-18 15:29] krumware commented on #91
this was resolved

[2022-07-18 15:29] #91 closed

[2022-07-18 15:30] krumware commented on #80
closing for inactivity

[2022-07-18 15:30] #80 closed

[2022-07-18 15:30] krumware commented on #56
this was resolved

[2022-07-18 15:30] #56 closed

[2022-07-18 15:31] krumware commented on #109
closing for inactivity

[2022-07-18 15:31] #109 closed

[2022-07-18 16:48] klipitkas commented on #137
Indeed I am using docker compose v2:

[code]

I have patched the yaml file for now to make it work, attaching my patched version below that kind of works for me:
[code]

I also have the database connection issue when building the calcom image so I guess this might be related to docker compose v2 as well.

[2022-07-18 17:53] krumware commented on #137
We just reverted the previous changes via #139

This may sound redundant, but on the network issue, can you confirm for me that you are running `docker compose up -d database` prior to the build step?

[2022-07-18 18:35] jschulman commented on #137
Just checked and it's still running:

57adabe5e154   postgres                          "docker-entrypoint.s…"   17 hours ago   Up 17 hours           5432/tcp                                                                                                   calendso-db

[2022-07-18 19:08] klipitkas commented on #137
Yes me too, my postgres is still running from the morning when I tried to last build it:
[code]

[2022-07-19 10:08] wzrdtales commented on #137
when using up --force-recreate that solves. but

[code]

the build is broken in more than one way

[2022-07-19 10:10] wzrdtales commented on #136
@krumware Why don't you import a normal config file in the main project and overwrite a placeholder in there with the environment variable during the container boot. Then you can dynamically configure this. Using non runtime (those vars are compile time) env vars is a bad practice actually for frontends.

[2022-07-19 10:16] siddjellali commented on #136
Unfortunately not; I'm using portainer and submodule is not supported https://github.com/portainer/portainer/issues/7240#issuecomment-1180976706

[2022-07-19 12:12] krumware commented on #136
This has been brought to the teams attention in the past but is not my decision. There is some contention in the nextjs community around this as well, even though I personally share your opinion.

If you can point to an example to follow on a similar stack, it may help the core team with the info they need to make those architecture decisions.

[2022-07-19 12:24] wzrdtales commented on #136
this is so easy you can do it in 2 minutes...

This is not an architecture question as well. This is plain simply: how do I configure my environment.

It is done simply like that:

A static json loader either in the bootstrap of the frontend framework, or even before the frontend runs. Then you load a json  document from the static assets which contains the config and make the parameters available

[2022-07-19 12:30] wzrdtales commented on #136
here a plain simple init routine that we use in endless variations:

[code]

that is it.

[2022-07-19 14:03] krumware commented on #136
I understand this method and have used it before as well, and I appreciate your passion for the issue.

Please open up an issue in https://www.github.com/calcom/cal.com with your recommendation and solution, and ideally a pull request related to the solution so that the core team can decide whether or not to implement this solution. There is existing discussion around runtime and static variable u

[2022-07-19 16:20] whallin commented on #136
Running into the same problems as @siddjellali since we also deploy our Docker services via Portainer.

Deploying cal.com by the instructions in the README is definitely an option, no doubt there, but having an "official" Docker image ready to go would be way easier. Especially for users, like me, with Docker Swarm setups looking for an easier way of high availability with their containers.

Hopef

[2022-07-19 18:22] wzrdtales commented on #136
Not mean to be unfriendly, but I am not passionate about this issue, more concerned and annoyed about how amateur the current "delivery" is. I understand that it is not really your priority, since you really only care about your own service and not about the actual open source deployments out there though.

If I find some spare time I wouldn't have a problem providing you with an implementation of

[2022-07-19 23:21] DrMxrcy commented on #81
Gonna have to +1 on this. Running this on ARM would be a game changer.

[2022-07-20 00:15] krumware commented on #81
I'll give this a go on a test branch in the morning as I also look into the GitHub actions memory issues 👍👍

[2022-07-20 13:09] krumware commented on #136
I'm a community member, not a compensated member of the team. For what it's worth, your situation is not unique, and many if not all of the other contributors to the docker side of the project have pressing duties outside of cal.com.

[2022-07-20 13:10] krumware commented on #136
@whallin thanks for your info about your use with Portainer! Would you be willing to jump into the cal.com slack channel to help with testing docker builds deployed using portainer?

[2022-07-20 13:23] PeerRich commented on #136
hey @wzrdtales as mentioned in this repository in multiple places
<img width="347" alt="image" src="https://user-images.githubusercontent.com/8019099/179992636-2ee398e9-6657-478f-8610-d101ea867b4a.png">
<img width="923" alt="image" src="https://user-images.githubusercontent.com/8019099/179992689-079fd1d9-98d6-40df-bc4b-02f5298b1ea0.png">

the /docker project is community ran. there are no economic

[2022-07-20 13:47] whallin commented on #136
No worries. I'm on it!

[2022-07-21 11:44] DrMxrcy commented on #81
Thanks!

[2022-07-21 13:26] PeerRich commented on #136
that's the spirit! <img src="https://media4.giphy.com/media/blSTtZehjAZ8I/giphy.gif"/>

[2022-07-21 13:29] wzrdtales commented on #136
you can dislike honesty as much as you like of course, but when the "official" docker image is part of the organization of the same, no one expects it to be not official. And to be clear, that note is not clear enough, I didn't even see it until you mentioned it. If this is a community effort, I would either move it out of the organization, or at least rename the repository to unofficial, or unsup

[2022-07-21 15:03] krumware commented on #137
The above can be addressed in a new issue. Need to see details related to potential changes in the docker-compose file, as the default network address for the database container is `database` not `db` as indicated by the log.

Closing this as the original issue in this thread is resolved

[2022-07-21 15:03] #137 closed

[2022-07-21 15:18] PeerRich commented on #136
hate to break it to you but it's written all over the readme.

<img width="879" alt="image" src="https://user-images.githubusercontent.com/8019099/180249301-a2ae6e0c-7b54-4a47-8616-f3c682e5e35e.png">

also on Docker Hub:

<img width="869" alt="image" src="https://user-images.githubusercontent.com/8019099/180249672-ede24691-8044-47d4-ae0b-9eb6cef9987b.png">

just because a repo is in an org, doesn'

[2022-07-21 15:30] wzrdtales commented on #136
You didn't get my point, it's unclear in so far, yes you wrote it, but you have to see who reads it. It is not visually clear and lost in translation, just b/c you write something does not mean someone reads it. The more experienced you are the more likely you're to skip to the important part, which in this case is the docker image and its config params. Everything else we in our case (I wasn't th

[2022-07-21 16:35] krumware opened #141 "Feature request: Runtime configurability of frontend variables"
One of the current restrictions of the cal.com project is the embedding of variables like the NEXT_PUBLIC_WEBAPP_URL strictly into the static build. For CDN-based deployments or other managed deployment mechanisms like Vercel, this is acceptable and helpful.  But for container-based and other selfhosted workloads, this adds complexity to the deployment pipeline.
It is understood that the usage of

[2022-07-21 16:42] krumware opened #142 "Feature request: Removal of database hosting requirement during image build"
One of the current restrictions of the cal.com project is the requirement of an active database connection during the build process. This is necessary for validating schemas, but should not be necessary if the schema has already been validated. This validation can also be run at test-time or run-time if it was allowed to be optional during the static site build.

That runtime check can be performe

[2022-07-21 16:45] krumware commented on #141
This is an often-requested feature, created this for easier tracking by the core team

[2022-07-21 16:45] krumware commented on #142
This is an often-requested feature, created this for easier tracking by the core team

[2022-07-21 21:05] howephillip commented on #122
Also seems to be happening on destinationCalendar

`Message: Error in Prisma Client request:

Invalid `prisma.destinationCalendar.findMany()` invocation:

  The column `DestinationCalendar.bookingId` does not exist in the current database.`

[2022-07-22 02:28] danielbaldovino opened #143 "Database migrations error"
Hey there,

Anyone knows how to deal with the migrations error?

`@calcom/prisma:post-install: Prisma schema loaded from schema.prisma
@calcom/prisma:db-deploy: Prisma schema loaded from schema.prisma
@calcom/prisma:db-deploy: Datasource "db": PostgreSQL database "calendso", schema "public" at "database:5432"
@calcom/prisma:db-deploy:
@calcom/prisma:db-deploy: 114 migrations found in prisma/migrat

[2022-07-22 07:50] PeerRich commented on #142
@zomars

[2022-07-22 13:41] zomars commented on #142
Yes we're working towards this. To achieve this we need to:

- Stop pre-rendering pages at build (rely exclusively on SSR & ISR)
- Implement missing skeletons so we can prerender those without depending on actual data
- Fix our [dynamic routes that don't use data fetching methods](https://nextjs.org/docs/advanced-features/automatic-static-optimization)

So that's basically it. And also make sure w

[2022-07-22 23:08] DrMxrcy commented on #81
Any updates on this?

[2022-07-22 23:46] krumware commented on #81
In progress! Should have a good update early this coming week

[2022-07-22 23:50] DrMxrcy commented on #81
Let's go! Thanks!

[2022-07-25 18:20] phyroslam commented on #143
I am observing the exact same error

[2022-07-25 20:01] phyroslam commented on #22
I am experiencing this issue with the most up to date version of this repo

[2022-07-25 20:39] krumware commented on #22
Are you experiencing the issue with your own built image or the provided image?

[2022-07-25 20:43] krumware commented on #143
That's a pretty extensive migration, you may need to debug this by running the packages manually and not in the container.
This shouldn't be related to the container but the latest calcom versions. Can you open up an issue in the core cal.com repository?

[2022-07-25 21:05] phyroslam commented on #22
with my own built image

[2022-07-25 22:58] krumware commented on #81
https://github.com/calcom/docker/pull/144

Working through testing the github actions. `calendso/calendso:canary` will be the initial image tag for testing on the rpi.
There will be an initial restriction around the web_app_url where localhost will appear for the event URL paths, but we'll work through that.

[2022-07-25 23:23] DrMxrcy commented on #81
Thanks so much on the updates! We will be testing it!

[2022-07-26 03:42] DrMxrcy commented on #81
Perfect!

[2022-07-26 16:29] krumware commented on #81
@erulabs & @DrMxrcy
https://hub.docker.com/r/calendso/calendso/tags `canary` is ready for you to test

Again, just noting: There will be an initial restriction around the web_app_url where localhost will appear for the event URL paths, but we'll work through that.

Thanks for your help!

[2022-07-26 16:46] erulabs commented on #81
Hey @krumware - thank you so much! We're looking forward to hosting this for our own uses over at https://kubesail.com - I'm also going to make an installer for Kubernetes if that's alright with you! The main goal of getting ARM64 support was also so that it could run on our little home-hosting computer, the https://pibox.io 👯 We'd love to chat with you about partnering up if you're interested - o

[2022-07-26 17:09] erulabs commented on #81
Ah, I see what you mean about the `web_app_url` now, as in `NEXT_PUBLIC_WEBAPP_URL` is set during image build time.

I suppose I could run `yarn build` again, or possibly tell Turbo to re-build the front-end for me? I am familiar with Turbo, but I see https://github.com/calcom/cal.com/blob/6b0ac96b38b0dbd78809a73e19010192f31cc769/turbo.json#L29-L43 references depending on an environment variable.

[2022-07-29 17:40] deepaklather-shopup commented on #122
Following error is thrown while trying to create first user.

[code]

[2022-07-29 18:36] Leopere opened #145 "Is there a way that's been documented anywhere for deploying this without building anything locally?"
In production environments like docker swarm, you cannot build a container and can only pull containers. Is there a way in which someone could deploy this with environment variables, and it just will sort itself out without having to git clone build and run?

[2022-07-29 18:59] krumware commented on #145
#141 and #142 are feature requests geared towards making this possible from a straight docker pull.

Would it be helpful to have instructions on how to push your own image to your own container registry (like Docker Hub)?

[2022-07-29 20:13] zomars commented on #122
It's seems like a faulty migration on our side. Investigating...

[2022-07-29 23:15] DrMxrcy commented on #81
Yea I see the localhost issue. I have been working around
 it so far!

[2022-08-01 18:37] Leopere commented on #93
I somewhat agree but also disagree with @JoeyFenny it's a container logistics issue and could be documented in the README.md

[2022-08-02 10:44] kuzemkon commented on #136
IMHO this is a very weird issue. I've been involved in a lot of next.js projects and we were able easily successfully set up the dynamic frontend env variables configuration. [Next.js has native support for it](https://nextjs.org/docs/api-reference/next.config.js/runtime-configuration). The role of Next.Js is to provide a flexible website development environment for modern stateless deployment inf

[2022-08-02 11:13] PeerRich commented on #136
@kuzemkon i dont think there is any objection. i just think no one has gotten around of doing it yet. This would be great, would you be down to help us?

[2022-08-02 11:39] kuzemkon commented on #136
@PeerRich I got it, thanks! Yes, I can try.

[2022-08-02 12:11] PeerRich commented on #136
that would be awesome!

[2022-08-02 13:18] krumware commented on #136
@kuzemkon here is a feature request issue that provides some more context:
https://github.com/calcom/docker/issues/141

also, here's a feature request for the database portion, which has some additional helpful context from @zomars: https://github.com/calcom/docker/issues/142#issuecomment-1192588529

This requires changes in the core project, would be great if you can help!

[2022-08-02 13:41] krumware opened #148 "CALCOM_LICENSE_KEY is missing from build"
CALCOM_LICENSE_KEY is missing from the env example and from the build, causing enterprise feature flags to not be detected

[2022-08-02 13:59] PeerRich commented on #148
why is .env such a pain with docker? there gotta be a better way, no?

[2022-08-02 15:18] kuzemkon commented on #136
Thanks, @krumware. I'll try to dig into it this or next week.

[2022-08-02 15:37] krumware commented on #148
The challenges are primarily around the current requirements for the build-time configurability. This type of thing is a non-issue in many projects with mature runtime configurability.

In this case, the flag is just missing from the .env.example file and the documentation. A docker/kubernetes user can add this themselves as an environmental variable in the container configuration, and it should w

[2022-08-02 18:31] zomars commented on #136
![image](https://user-images.githubusercontent.com/3504472/182447237-362fb0fa-1696-4fbc-9951-1e3136b33fea.jpeg)

We do use automatic static optimization tho. Just because Next allows it doesn't mean it is a good use case for us. I'm curious about what other approach can be used here. The only one that comes to mind is using SSR everywhere which is not desired in the main application.

[2022-08-02 19:21] wzrdtales commented on #136
If you actually mean this headline, then the app shouldn't be focused only on your own service.

Plus if you have SSR, there is no need for something like this auto static feature. Just generate static sites from the SSR output and either cache them or store them as files and serve.

It is usually this simple: If the app is only for your company, go static compile time. If the app is for more than

[2022-08-03 03:15] zomars commented on #136
That's not what I've said. "By not a good case for use us" I've meant for the application itself. Having everything SSRed would be a huge hit for performance which is not desired for the main application.

[2022-08-03 15:21] timololipop commented on #122
Same error here

[2022-08-03 15:33] kevinscholz commented on #143
It seems this migration was added out of order. I ran into the same issue. The reason for this is that the migration `20220714175322_destination_calendar_one_to_many_bookings` already ran which removes the `bookingId` column from the `DestinationCalendar`.

Just run the migration without the conflicting line and mark the migration as successful:

[code]

[2022-08-03 15:57] timowevel1 opened #149 "Error when adding CalDAV (also on non-docker)"
Hey,
here the same issue! I did a manual install and a docker one. Both failing to add a caldav server.
![image](https://user-images.githubusercontent.com/25285295/182654494-872b52a9-7b2e-409c-aaa8-8ccd3078269c.png)
This is so frustrating, why is this happening?

Thanks.

[2022-08-03 15:59] Chinoman10 opened #150 "Docker container running on a single thread? Web app too slow..."
This issue is a copy of [this previously opened discussion](https://github.com/calcom/cal.com/discussions/3449).

[2022-08-03 16:18] zomars commented on #150
@krumware may have some more insights on this

[2022-08-03 16:21] krumware commented on #150
This shouldn't be docker specific unless the environment is limiting cpu. Do you by chance have any metrics on memory usage at the time of this issue as well?

[2022-08-04 13:44] PhilippeAccorsi commented on #87
I tried also to install on production (first, test on local) and it is not very clear about what is wrong to use docker behind proxy on production.

The biggest problem for me is how set database for the first start. I don't understand what is necessary, also how create the first user (because some value seems to be necessary but the first user just need username, mail and password. I don't unders

[2022-08-07 13:15] Leopere commented on #145
Pushing containers is relatively easy, but maintaining your own private or public containers would litter up the registry with redundancy.  I also wonder how much of the settings for the Postgres container would get pushed from the local compile.

[2022-08-08 15:00] krumware commented on #81
@DrMxrcy @erulabs official version merged and incoming under `:latest`
@erulabs that's awesome about kubesail. Is there anything we should consider coordinating there when the official helm deployment comes out?

[2022-08-08 15:25] erulabs commented on #81
Heya @krumware - we support helm charts too! 👯 I'll update our non-helm manifests and see if I cant get things working. By the way - if you're interested in collaborating, we do have a revenue share agreement! I'd love to sell PiBoxes preloaded with Cal.com to doctors offices (for example!). Let me know if that sparks any ideas for ya! I'll reach out to the proper channels once I get the app worki

[2022-08-08 15:33] DrMxrcy commented on #81
@krumware Thanks so much for all the work on the docker image! Can't wait for it to build so we can test it out!

[2022-08-12 13:42] Mistic92 commented on #123
I have the same issue. I tried to rename script to remove for but now I get
[code]

[2022-08-18 09:04] antonnid opened #152 "calcom/web:start: Error: Could not find a production build in the '/calcom/apps/web/.next'"
Hello, I have been trying to get the docker container to work.
The error im getting is `@calcom/web:start: Error: Could not find a production build in the '/calcom/apps/web/.next'`
I followed the directions and I can get the calcom to build correctly, however it wont run because of the error.
The only real difference between my docker-compose file and the one from the repo is that I commented out

[2022-08-22 18:34] Xosten opened #155 "Error: Could not find a production build in the '/calcom/apps/web/.next' directory"
Hi,

After having followed the guide to setup the docker container and build the image. When starting the container with `docker compose up -d`. I get the following error :

[code]

I've notice #152 has the same issue as I have.

[2022-08-23 06:41] Xosten commented on #81
Hey @krumware,

I'm commenting on this issue as I'm trying to run a docker image on a OCI ARM Free Tier (Ampere). I'm getting this error each time and wonder if the image is compatible with `aarch64` ?

[code]

[2022-08-23 11:26] krumware commented on #81
Thanks for the heads up, I'll work to add arm7 which should cover it

[2022-08-23 11:28] Xosten commented on #81
Awesome! Can't wait to try it out!

[2022-08-23 11:35] krumware commented on #81
Checking now, but not sure, are you trying to build the image yourself on aarch64, or is this while pulling then running the latest docker image on aarch64?

[2022-08-23 11:38] Xosten commented on #81
This is while running the build command `DOCKER_BUILDKIT=0 docker compose build calcom`

[2022-08-23 12:02] krumware commented on #81
it's not the image itself then. if you want to test the image on aarch64 you should be able to pull the latest image and run it.

we probably need a new issue to track against.
honestly, it looks like your build runner or the machine itself ran out of memory during the build, or it is some other issue. here's a similar issue on home assistant https://github.com/home-assistant/core/issues/34162

[2022-08-23 12:09] Xosten commented on #81
I will test by pulling the latest image then, but it's meant for testing?

I doubt that my machine ran out of memory as it has 24Gb or Ram, 4vCPUs and approx 50/100Gb free storage. I'm not running any heavy process currently on it. Is there maybe an OS conflicting? I'm running Oracle Linux 8.

I'll open a seperate issue regarding this.

[2022-08-23 12:15] krumware commented on #81
Correct, it's currently meant for testing but production images are being worked on. If you can pull the image, there's already an arch variant built for aarch64 that should run. If it doesn't run, then there might be other issues to track, so your running it will be helpful intel.

Correct, it's likely something environment related during the build, but we'll figure it out together. Thanks for th

[2022-08-23 13:17] Xosten opened #156 "Can't complete the image build on AArch64"
## Expected Behavior
Docker image build should be successful.

## Actual Behavior
Docker image build isn't successful and comes with the following error
[code]

## Steps to Reproduce the Problem

  1. Have an Aarch64 (ARMv8) machine (I use Oracle Cloud ARM Free tier)
  2. Following the build and installation instructions on the README.md

## Complementary information

#81 (starting from [here](htt

[2022-08-23 13:18] Xosten commented on #81
Pulling the latest image worked. I have opened #156 to keep track of this. Let's move over there the conversation :)

[2022-08-25 17:35] PeerRich commented on #155
@krumware any ideas?

[2022-08-28 16:38] PeerRich commented on #143
@krumware any ideas?

[2022-08-29 16:44] monzer94 opened #161 "Database Restore Error"
Hello Everyone
I am trying to upgrade to calcom
I toke a backup for our database from inside the container using
"docker exec -i postgres /usr/bin/pg_dump \
 -U <postgresql_user> <postgresql_database> > postgres-backup.sql "
then I pulled the latest repo and edited the env file and build the image, every thing worked good and services started correctly.
The issue is when I try to restore the old b

[2022-08-29 16:49] krumware commented on #161
@zomars @PeerRich should issues like these be encouraged to be moved to the core repos?
@monzer94 if you're able to convert those images back to the embedded images instead of google drive, it would be helpful for archiving.

thanks!

[2022-08-29 16:51] monzer94 commented on #161
Could you please help with that, sorry but i am new to open issues in github

[2022-08-29 17:45] PeerRich commented on #161
fixed images.

no this is a docker issue, not core, no?

[2022-08-29 17:45] PeerRich commented on #161
it seems like a migration is missing?

[2022-08-29 18:05] monzer94 commented on #161
From what I read in the discussion, the migration should start automatically once I run the services.
Is there anything from my end I can try?

[2022-08-29 19:34] krumware commented on #161
The docker image runs the same migrations as the core project and doesn't do anything differently there, that's why I think it may be an issue in core.  It isn't desired, but are you able to try running the core project outside of docker and configure it for your database to see if you have the same issue?

[2022-08-29 19:55] monzer94 commented on #161
no I didn't try that, but what I just found right now, the migration is running and it detect 120 migration but it exits on a command "yarn run dp=deploy exited" and then it enter in loop of this error "P3009"
https://drive.google.com/file/d/1ePN8PGS-qecOAH66D1CwiId-DdUCJkEI/view?usp=sharing

[2022-08-29 20:07] agustif commented on #161
Just thinking out loud here as I'm no docker expert, but it seems to me the problem is you're trying to restore a backup from a different version of cal, into a new version of cal, you should make it the inverse I think, upgrade your database to latest (version you want to run), then back it up, and then import that into the latest running version on docker.

Otherwise the databases won't match, a

[2022-08-29 20:22] monzer94 commented on #161
I checked the postgres db version on the old and the new cal version and they are both 14.0
https://drive.google.com/file/d/1QqS1p4lXo-EoTtZZOVjvYrfOd6EgREZx/view?usp=sharing
![111old](https://user-images.githubusercontent.com/75741592/187291303-5f1d4ff2-03e5-4b73-8843-2ed7b1c2735d.PNG)

[2022-08-29 20:24] agustif commented on #161
Yeah, sorry I should probably been clearer, I meant cal app version. not postgresql version.
Since at each release we might change the tables and columns of the database, and so if you try to make a backup in one version of cal into a newer one, the tables mismatch and the backup can't proceed

[2022-08-29 20:29] monzer94 commented on #161
Ok, and sorry if this is a beginner question, but how to update my cal version, because the only think I found related to the docker deployment is pull the latest and upgrade, could you please help me with that.

[2022-08-29 20:44] agustif commented on #161
you could try to run yarn prisma db push or yarn prisma db deploy on your current database (after backing it up, in case it breaks something), that should migrate your current data to latest version I think. After upgrading to latest version you want of course

[2022-08-30 00:48] samjaninf commented on #122
Having a very similar issue with the migrations,
![image](https://user-images.githubusercontent.com/6589200/187323623-0bcd650c-121e-493e-bcf2-bdf06f0ec501.png)

Any updates?

[2022-08-30 12:25] monzer94 commented on #161
So on the old cal I am running prisma v2 while in the new cal they are running prisma v3, so you suggest to upgrade old cal prisma to the same version then backup and restore right?

[2022-08-30 18:13] krumware commented on #122
@zomars

[2022-08-30 18:51] zomars commented on #122
This should be already fixed on latest release.

[2022-09-01 14:11] monzer94 commented on #161
Hi I try to upgrade the prisma on the old cal then do  run yarn prisma db pushm but the db wont update some rows and tables, please any idea to help

[2022-09-01 15:51] Pamalosebi commented on #122
Hey,

I did prune everything from docker and pulled new. But I got this also:

[code]
or

[code]

[2022-09-04 18:19] xoda commented on #122
I can confirm latest release has a mismatch between the Prisma schema and the schema in place for real. By looking at the long history of this issue, I guess the use of Primsa is a sub-optimal idea to add the user.

I suggest everyone that faces a similar issue to solve it via CLI by doing the following in the postgres machine:

[code]

In other words, while your containers are running execute the

[2022-09-04 20:20] PeerRich commented on #122
@zomars can you take a look?

[2022-09-04 20:21] PeerRich commented on #122
just to confirm @xoda did you try this? https://developer.cal.com/self-hosting/database-migrations

[2022-09-05 05:13] xoda commented on #122
@PeerRich I didn't, but since I pulled everything from scratch just yesterday, I assumed everything was up-to-date and I had no reason to update the database. If it's not the case I can help testing it out.

[2022-09-05 07:04] Xosten commented on #155
Hey,

I have retried building the image after a week and everything seems to work now. I don't have any ideas how it got fixed...

Closing for now.

[2022-09-05 07:04] #155 closed

[2022-09-09 00:41] conneryn commented on #141
I added a simple PR to attempt to fix this issue (#162).  This fix does not require the site to be built at runtime, it simply does a string search and replace for placeholder value in the pre-built static files (fast).

This only addresses the `NEXT_PUBLIC_WEBAPP_URL` variable specifically.  `NEXT_PUBLIC_LICENSE_CONSENT` still needs to be set to "agree" at build-time, as there is no easy way to a

[2022-09-10 12:16] adriansteffan commented on #22
Experiencing the same issue with the current version of the repo after trying to build the image with the instructions provided in the README

[2022-09-10 16:45] drwb opened #163 "build fails with Can't reach database server at `localhost`:`5432`"
Every time I sit down to try and get this running I seem to take a step backwards.

A new pull, from scratch, on a cleaned-out docker.

`DOCKER_BUILDKIT=0 docker compose build calcom `

Fails with
[code]

The `docker compose up -d database` command created:
[code]

Port 5432 is confirmed in docker container inspect 90638b40ac21
[code]

But even if I change the `DATABASE_URL` in .env to :5432 it fa

[2022-09-17 14:56] bdeak4 opened #165 "Telemetry can't be disabled because of typo in `docker-compose.yaml`"
While testing self-hosted docker installation I saw interesting warning so I decided to investigate further.
[code]

In [docker-compose.yaml](https://github.com/calcom/docker/blob/main/docker-compose.yaml#L30) there is argument declaration for this variable and it has a typo:

[code]

argument assigned here is `CALCOM_TELEMETRY_DISABLE` but argument used in [Dockerfile](https://github.com/calcom/d

[2022-09-17 21:05] bdeak4 commented on #165
PR merged

[2022-09-17 21:05] #165 closed

[2022-09-17 22:05] PeerRich commented on #165
thank you @bdeak4 !

[2022-09-26 05:08] ianonavy opened #167 "Submodule sync silently failing due to review requirement"
As of July 2022, calcom/docker has a branch protection rule on `main` that requires at least one review before merging. This revealed two bugs:
1. the submodule sync workflow stopped working
2. the submodule sync workflow reports a successful job even though it failed

The last step in the Actions workflow for submodule update ends with `|| echo`. Because `echo` always exit 0, GitHub Actions erron

[2022-09-26 13:50] krumware commented on #167
Thanks for calling this out! I'll look into it

[2022-09-26 16:50] krumware commented on #167
I temporarily alleviated the protection requirements in the mean time while we sort that out. Also manually triggered the update/build/push

[2022-09-27 13:35] krumware commented on #121
For folks landing in this issue, docker-compose is not the only method of building the image.
It deserves a written guide, but in the meantime, more advanced users can follow this example to build the container directly, without docker-compose, and by networking directly with a running container.

In our GHA, we stand up the database service and its container, by running `docker compose up -d data

[2022-10-03 20:54] ianonavy commented on #167
Awesome! Looks like that temporary fix is working. Looking forward to the permanent fix.

[2022-10-13 11:10] zahidabatool opened #169 "ready - started server on 0.0.0.0:3000, url: http://localhost:3000 Error: Could not find a production build in the 'C:\Users\Zahida Batool\Documents\nextblog\.next' directory. Try building your app with 'next build' before starting the production server. https://nextjs.org/docs/messages/production-start-no-build-id at NextNodeServer.getBuildId (C:\Users\Zahida Batool\Documents\nextblog\node_modules\next\dist\server\next-server.js:169:23) at new Server (C:\Users\Zahida Batool\Documents\nextblog\node_modules\next\dist\server\base-server.js:58:29) at new NextNodeServer (C:\Users\Zahida Batool\Documents\nextblog\node_modules\next\dist\server\next-server.js:70:9) at NextServer.createServer (C:\Users\Zahida Batool\Documents\nextblog\node_modules\next\dist\server\next.js:140:16) at async C:\Users\Zahida Batool\Documents\nextblog\node_modules\next\dist\server\next.js:149:31"

[2022-10-14 17:20] krumware commented on #169
I'm going to need to close this, please resubmit with the issue details in the description instead of the subject

[2022-10-14 17:20] #169 closed

[2022-10-14 17:20] #167 closed

[2022-10-21 13:18] deeztek opened #170 "jitsi meet no link"
Maybe I'm missing something. Jitsi meet does not work for me. When a booking is scheduled using a jitsi meet as the location, the invitation does not contain a link to Jitsi, only the name **Jitsi**, see below:

![image](https://user-images.githubusercontent.com/17934095/197204258-6d647497-7098-42c3-9c98-a0edcb9c3cd2.png)

This is the event config:

![image](https://user-images.githubusercontent.c

[2022-10-21 14:58] krumware commented on #170
Hi @deeztek, have you tried asking about this in the community slack or in the https://github.com/calcom/cal.com repo? This seems like it could be environmental but not specific to Docker

[2022-10-21 15:10] deeztek commented on #170
I have not. The calcom repo seems to be focused around the non-docker versions which is why I'm asking here. I looked in the issues page of that repo and I saw a few posts about Jitsi but they seemed to be focused on the non self-hosted version. Where in prisma would I go to see if the app is registered? I tried poking around and I didn't see anything jitsi related.

[2022-11-07 07:12] satoshinotdead commented on #136
So, what's the top workaround until someone make a final solution?

We need to fork the whole app or edit files adding something to the start commands?

[2022-11-08 18:58] krumware opened #171 "Update documentation to differentiate between running and building"
We need to differentiate between running for evaluation (running) and building, and separate the sections, for clarity.
This is to be introduced after the runtime variable replacement added by #162

[2022-11-19 07:49] dib0 opened #175 "Api calls going to https://api/auth/error"
Hi,

I just updated my calendso docker to the latest version. Almost everything seems to be working. One thing: the API calls seem to go to (for example) https://api/auth/

That prevents me from logging in.

The docker image is behind a NGINX reverse proxy. I have set these environment variables:
NEXTAUTH_URL=https://my.domain
NEXT_URL=https://my.domain
API_URL=https://my.domain
NEXTAUTH_SITE=http

[2022-11-21 10:12] h1k3rr commented on #163
I had the same issue and you simply need to start the database container first `docker compose up -d database`

[2022-11-21 10:13] h1k3rr commented on #163
have you check they're both on the same docker network ?

[2022-11-21 10:35] asm0dey opened #176 "Build fails with error"
After launching the db I'm trying to build calcom:
[code]

I don't really understand why the build fails

[2022-11-21 12:00] krumware commented on #176
@calcom/prisma:post-install: Error: spawn ENOMEM

It looks like your machine may have run out of memory

[2022-11-21 14:09] krumware commented on #163
(I think we might have addressed this one slack, but some time has passed)

If anyone else has this issue, double check the DATABASE_URL in your .env
using localhost:5432 (like in this example here) won't work without some additional configuration, because localhost to the container is not the same address as the machine hosting the containers nor the database container.  DATABASE_URL needs to ref

[2022-11-21 14:23] krumware commented on #136
Please test with latest images, as runtime variable substitution is now available.
Documentation updates are on the way.

[2022-11-21 15:41] krumware commented on #175
It sounds like the `NEXTAUTH_URL` isn't falling back to the default value.
Can you please try adding the `NEXTAUTH_URL=https://my.domain/api/auth` and report back?

[2022-11-21 16:44] dib0 commented on #175
Hi,

I changed the existing NEXTAUTH_URL to https://my.domain/api/auth, but that still resulted in calls https://api/auth/ and in the end in https://api/auth/error.

[2022-11-21 20:38] dib0 commented on #175
I tried that configuration, but still calls are being made to https://api/auth/providers etc.

[2022-11-22 15:37] wzrdtales commented on #136
@siddjellali did you test it?

[2022-11-22 15:51] wzrdtales commented on #136
then its your ticket if its solved push the glory close button :p

[2022-11-22 15:52] #136 closed

[2022-11-22 18:49] krumware commented on #175
can you try the publicly available image by modifying the docker-compose.yml like in this example?
https://github.com/calcom/docker/pull/177

[2022-11-23 05:43] dib0 commented on #175
I'm running this image on my NAS based on the image from Docker Hub. The setup here is that I don't user docker compose.
I'll have to install docker on another machine and try this. So it might take a while. Sorry for that!

[2022-11-23 14:37] krumware commented on #175
you shouldn't need to use docker-compose specifically, it's just one of many tools to run the container.
So you're already using the public image? Or did you build your own image?

[2022-11-23 18:54] dib0 commented on #175
Nope, did not build my own image. Just got the one with the latest tag from the Docker Hub.

[2022-11-23 18:56] krumware commented on #175
Ok that's really strange then. It's possible that your variables aren't being picked up and that the URL replacement is inserting a blank string for the placeholder. Can you share the logs from the container so that we can see what happens during startup?

[2022-11-23 19:33] dib0 commented on #175
Of course. I think this will reflect one or two startups from yesterday:
2022-11-19T03:40:19.071304440Z,stdout,+ yarn start

2022-11-19T03:40:19.025910075Z,stdout,Skipping Routing Form - Seeding - Pro User not found

2022-11-19T03:40:19.014130255Z,stdout,📲 Upserted app: 'sendgrid'

2022-11-19T03:40:18.471040954Z,stdout,📲 Upserted app: 'sirius_video'

2022-11-19T03:40:17.468231899Z,stdout,📲 Upserte

[2022-11-26 05:54] dib0 commented on #175
Ok, I see that I missed a detail on which image I use. I use the docker hub one tagged with latest, but I update (using watchtower) every Saturday morning. So I might have been behind. After the update this morning the latest image worked perfectly.

Would it be a possibility to tag new images with new version numbers instead of only tagging with latest? Before I had issues after an update and cou

[2022-11-26 05:54] #175 closed

[2022-11-26 17:49] siddjellali commented on #66
Hello guys,

Do you know how limit registration to a specific domain ?

[2022-11-28 12:14] danielslyman opened #179 "User & Apps empty / docker pull image"
Hey guys,

I couldn't build the image I pulled it as described by another issue. Everything seems to be fine, except that the Users and Apps pages do not seems to load properly, thus preventing me to add users and or add apps.

Quick edit: I did manage to build the docker file as described in the documentation here on Github, same symptom occurs. Is this a bug or am I missing something?

![image](

[2022-11-28 14:11] krumware commented on #179
I'm observing the same thing, thanks for pointing it out.
@zomars @emrysal looks like we may need your input here

[2022-11-28 14:14] PeerRich commented on #179
it's just not built yet. we should remove that page @zomars

[2022-11-28 16:34] danielslyman commented on #179
Ahhh thanks! I thought I was going crazy. Thus, I add users via :5000 ?

[2022-11-28 18:38] danielslyman commented on #179
No worries ;) I got it to work, added my first user, integrated M365 and embedded my first widget.

So in all seriousness, cal.com is by far the most sophisticated, most beautiful and well integrated self-hosted scheduling software I have been using/testing. I live in Germany, the EU country with the toughest GDPR enforcement agency. I know you definitely are putting your efforts into the topic. H

[2022-11-28 18:44] danielslyman commented on #176
I solved it by temporarily upscaling my VPS and the downscaling it. Patience truly is a virtue ;)

[2022-11-30 15:40] #171 closed

[2022-11-30 22:54] krumware commented on #176
hi @asm0dey, I'm working on deployment options then will shift back to optimizing the image. You should be good to simply pull the image, using the latest instructions.

Is it ok if we close this for now?